@{
    if (ViewBag.expired == null)
    {
<script>
    alert("인증 메일의 유효기간이 지났습니다. 다시 인증해주세요.");
    location.href = "/Members/chkMail";
</script>
    }

    string email = ViewBag.mail;
}

<style>
    div#container > article > section.Join {
        padding-top: 10px;
    }

    section.Join > h3 {
        font-size: 14px;
        color: #2a2a2a;
    }

    section.Join ul {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 0;
        overflow: hidden;
    }

        section.Join ul.lists {
            text-align: center;
        }

            section.Join ul.lists > li {
                margin: 0;
                padding: 0 19px;
                position: relative;
                display: inline-block;
                font-size: 16px;
                color: #9f9f9f;
            }

                section.Join ul.lists > li.on {
                    color: #2a2a2a;
                }

                section.Join ul.lists > li:before {
                    content: '';
                    border-right: 1px solid #777;
                    display: block;
                    position: absolute;
                    top: 4px;
                    bottom: 2px;
                    left: 0;
                }

                section.Join ul.lists > li:first-child:before {
                    display: none;
                }

    section.Join > div {
        margin-top: 50px;
        text-align: center;
    }

        section.Join > div > h4 {
            font-size: 15px;
            color: #2a2a2a;
        }

        section.Join > div hr {
            margin: 12px 0 25px;
            background-color: #ddd;
        }

        section.Join > div > form > h5 {
            margin-top: 70px;
            display: block;
        }

        section.Join > div > form > div.form-group {
            width: 500px;
            margin: 0 auto 15px;
            position: relative;
        }

            section.Join > div > form > div.form-group input.form-control,
            section.Join > div > form > div.form-group select.form-control {
                border: none;
                box-shadow: none;
                border-bottom: 1px solid #eee;
                border-radius: 0;
            }

                section.Join > div > form > div.form-group input.form-control:disabled {
                    background-color: transparent !important;
                }

            section.Join > div > form > div.form-group input#inputAddress {
                width: 280px;
            }

            section.Join > div > form > div.form-group button.btn.btn-default {
                margin-top: 60px;
                width: 170px;
                height: 30px;
                line-height: 30px;
                padding: 0;
                font-size: 15px;
                color: #707b5e;
                background-color: #dfeccd;
                border: none;
            }

                section.Join > div > form > div.form-group button.btn.btn-default.cancel {
                    background-color: #f1f1f1;
                    color: #2a2a2a;
                }

            section.Join > div > form > div.form-group > label.options {
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
            }

            section.Join > div > form > div.form-group > label.agree {
                position: inherit;
                width: 125px;
                margin: 0;
                margin-left: -70px;
                text-align: left;
                font-weight: normal;
            }

            section.Join > div > form > div.form-group > label.options > a.btn {
                background-color: #f2f8e9 !important;
            }

            section.Join > div > form > div.form-group > label.agree > input[type=checkbox] {
                float: left;
                margin: 0;
                margin-right: 5px;
            }

            section.Join > div > form > div.form-group > label.agree > span {
                display: block;
                font-size: 10px;
            }

    /*약관동의*/
    section.agree {
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0 10px;
        box-sizing: border-box;
    }

        section.agree > div {
            border: 1px solid #ddd;
            padding: 5px 10px;
            margin: 5px auto 13px;
            height: 180px;
            text-align: left;
            overflow: auto;
        }

        section.agree h5 {
            display: block;
            margin: 10px 0 5px 0;
            font-size: 15px;
        }

        section.agree > div > ul {
            list-style: none;
            margin-top: 20px;
            padding: 0;
        }

            section.agree > div > ul > li {
                margin-bottom: 10px;
            }

        section.agree > div.agreeTxt2 > ul > li:first-child {
            padding: 0 5px;
            font-size: 14px;
        }

        section.agree > div > ul > li > div {
            padding: 0 5px;
            font-size: 14px;
        }

        section.agree > div > ul > li > p {
            font-size: 14px;
        }

        section.agree > div > ul > li > ol > li {
            margin-bottom: 3px;
            font-size: 14px;
        }

        section.agree > div > ul > li > div > p {
            margin: 3px 0;
        }

        section.agree > div > ul > li > div > ol > li > ul {
            padding-left: 10px;
        }

        section.agree > label {
            display: block;
            margin-right: 10px;
            font-size: 13px;
            text-align: right;
        }

        /*전체동의하기*/
        section.agree > p.allagree {
            font-size: 14px;
            letter-spacing: -0.5px;
            text-align: center;
        }

            section.agree > p.allagree label {
            }

                section.agree > p.allagree label input {
                    margin: 0;
                }
</style>

<section class="Join">
    <h3>회원가입</h3>

    <ul class="lists">
        <li>
            이메일인증
        </li>
        <li class="on">
            정보입력 / 약관동의
        </li>
        <li>
            가입완료
        </li>
    </ul>

    <div>
        <h4>회원 정보 입력</h4>
        <hr />
        @using (Html.BeginForm("Confirm", "Mambers", FormMethod.Post, new { @class = "form-horizontal", onsubmit = "return false", name = "joinForm" }))
        {
        <h5 class="sr-only sr-only-focusable">필수 입력 사항</h5>

        @Html.Hidden("chkID", 0)
        @Html.Hidden("hiddenID", 0)
        @Html.Hidden("hiddenEmail", 0)

        <div class="form-group">
            <label for="inputID" class="col-sm-3 control-label">아이디</label>
            <div class="col-sm-9">
                @*<input type="text" class="form-control" id="inputID" placeholder="아이디">*@
                @Html.TextBox("inputID", "", new { @class = "form-control", @placeholder = "아이디" })
            </div>
            <label class="options">
                <a class="btn" id="chkIDBtn">중복확인</a>
            </label>
        </div>
        <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">이름</label>
            <div class="col-sm-9">
                @Html.TextBox("inputName", "", new { @class = "form-control", @placeholder = "이름" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-3 control-label">비밀번호</label>
            <div class="col-sm-9">
                @Html.Password("inputPassword", "", new { @class = "form-control", @placeholder = "6~20자 이내/영문+숫자 조합" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword2" class="col-sm-3 control-label">비밀번호 확인</label>
            <div class="col-sm-9">
                @Html.Password("inputPassword2", "", new { @class = "form-control", @placeholder = "6~20자 이내/영문+숫자 조합" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-3 control-label">이메일</label>
            <div class="col-sm-9">
                @Html.TextBox("inputEmail", email, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <label class="options agree">
                @Html.CheckBox("receiveEmail")
                <span>
                    e-mail 광고 수신동의
                </span>
            </label>
        </div>

        <h5 class="">선택 입력 사항</h5>
        <hr />
        <div class="form-group">
            <label for="inputLastName" class="col-sm-3 control-label">영문 성</label>
            <div class="col-sm-9">
                @Html.TextBox("inputLastName", "", new { @class = "form-control", @placeholder = "영문 성" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputFIrstName" class="col-sm-3 control-label">영문 이름</label>
            <div class="col-sm-9">
                @Html.TextBox("inputFIrstName", "", new { @class = "form-control", @placeholder = "영문 이름" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputTel" class="col-sm-3 control-label">핸드폰</label>
            <div class="col-sm-9">
                @Html.TextBox("inputTel", "", new { @class = "form-control", @placeholder = "핸드폰 (숫자만 입력해 주세요.)", maxlength = "11" })
            </div>
            <label class="options agree">
                @Html.CheckBox("receiveTel")
                <span>
                    sms 광고 수신동의
                </span>
            </label>
        </div>
        <div class="form-group">
            <label for="inputSex" class="col-sm-3 control-label">성별</label>
            <div class="col-sm-9">
                @*<input type="text" class="form-control" id="inputSex" placeholder="성별">*@

                <select class="form-control" id="inputSex" name="inputSex">
                    <option value="M">남자</option>
                    <option value="F">여자</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputBirth" class="col-sm-3 control-label">생년월일</label>
            <div class="col-sm-9">
                @Html.TextBox("inputBirth", "", new { @class = "form-control", @placeholder = "YYYYMMDD", maxlength = "8" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress" class="col-sm-3 control-label">주소</label>
            <div class="col-sm-9">
                @Html.TextBox("inputAddress", "", new { @class = "form-control" })
            </div>
            <label class="options">
                <a class="btn searchAddress">주소검색</a>
            </label>
        </div>
        <div class="form-group">
            <label for="inputAddress" class="col-sm-3 control-label">상세 주소</label>
            <div class="col-sm-9">
                @Html.TextBox("inputAddress_F", "", new { @class = "form-control" })
            </div>
        </div>

        <section class="agree">
            <label>
                <input id="termsService" name="termsService" type="checkbox" value="true"><input name="termsService" type="hidden" value="false">
                국외여행표준약관에 동의합니다.
            </label>
            <div class="agreeTxt1">
                <h5>국외 여행 표준 약관</h5>
                <ul>
                    <li>
                        <h5>제1조 (목적)</h5>
                        <div>이 약관은 (주)NTRAVELS(이하 “당사”로 한다)과 여행자가 체결한 국외 여행계약의 세부 이행 및 준수사항을 정함을 목적으로 합니다.</div>
                    </li> <!--.1번 li-->
                    <li>
                        <h5>제2조 (당사와 여행자 의무)</h5>
                        <div>
                            <ol>
                                <li>
                                    당사는 여행자에게 안전하고 만족스러운 여행 서비스를 제공하기 위하여 여행 알선 및 안내, 운송, 숙박 등
                                    여행 계획의 수립 및 실행 과정에서 맡은 바 임무를 충실히 수행하여야 합니다.
                                </li>
                                <li>
                                    여행자는 안전하고 즐거운 여행을 위하여 여행자간 화합 도모 및 여행업자의 여행 질서 유지에 적극 협조하여야 합니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.2번 li-->
                    <li>
                        <h5>제3조 (용어의 정의)</h5>
                        <div>
                            <p>여행의 종류 및 정의, 해외 여행수속 대행업의 정의는 다음과 같습니다.</p>
                            <ol>
                                <li>
                                    기획여행<br>
                                    여행업자가 미리 여행 목적지 및 관광일정, 여행자에게 제공될 운송 및 숙식서비스 내용(이하‘여행서비스’라 함),
                                    여행 요금을 정하여 광고 또는 기타 방법으로 여행자를 모집하여 실시하는 여행.
                                </li>
                                <li>
                                    희망여행<br>
                                    여행자(개인 또는 단체)가 희망하는 여행 조건에 따라 여행 업자가 운송, 숙식, 관광 등 여행에 관한 전반적인 계획을 수립하여 실시하는 여행.
                                </li>
                                <li>
                                    자유여행<br>
                                    여행자 (개인 또는 단체)가 희망하는 여행 조건에 따라 여행 업자가 항공 및 숙박 계획을 수립 하여 실시 하는 여행.
                                </li>
                                <li>
                                    해외여행 수속대행(이하 ‘수속대행계약’이라 함)<br>
                                    여행사가 여행자로부터 소정의 수속대행요금을 받기로 약정하고, 여행자의 위탁에 따라 다음에 열거하는 업무(이하 ‘수속대행업무’라 함)를 대행하는 것.
                                    여권, 사증, 재 입국 허가 및 각종 증명서 취득에 관한 수속, 출입국 수속 서류 작성 및 기타 관련업무
                                </li>
                            </ol>
                        </div>
                    </li> <!--.3번 li-->
                    <li>
                        <h5>제4조 (계약의 구성)</h5>
                        <div>
                            <ol>
                                <li>
                                    여행계약은 여행계약서(붙임)와 여행약관, 여행일정표(또는 여행 설명서)를 계약내용으로 합니다.
                                </li>
                                <li>
                                    여행일정표(또는 여행설명서)에는 여행 일자 별 여행지와 관광 내용, 교통 수단, 쇼핑 횟수, 숙박장소, 식사 등 여행 실시일정 및
                                    여행사 제공 서비스 내용과 여행자 유의사항이 포함되어야 합니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.4번 li-->
                    <li>
                        <h5>제5조 (특약)</h5>
                        <div>
                            <p>당사와 여행자는 관계 법규에 위반되지 않는 범위 내에서 서면으로 특약을 맺을 수 있습니다. 이 경우 표준 약관과 다름을 당사는 여행자에게 설명해야 합니다.</p>
                            <ol>
                                <li>
                                    당사 전 상품은 해외여행약관 취소규정을 준수하나 일부 상품은 상품의 특수성으로 인해 취소 수수료를 다르게 적용합니다.
                                    (상품설명페이지와 예약페이지 참조)
                                </li>
                                <li>
                                    일부 상품은 해외여행약관 보험가입규정을 준수하나 일부 상품은 상품의 특수성으로 인해 여행자보험을 개인적으로 가입해야 합니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.5번 li-->
                    <li>
                        <h5>제6조 (안전정보 제공 및 계약서 등 교부)</h5>
                        <div>
                            여행자와 여행계약을 체결할 때 여행약관과 외교부 해외안전여행 홈페이지 (www.0404.go.kr) 에 게재된 여행지 안전정보를 제공하여야 하며,
                            여행계약을 체결한 경우 계약서와 여행일정표(또는 여행설명서)를 각 1부씩 여행자에게 교부하여야 합니다.
                        </div>
                    </li> <!--.6번 li-->
                    <li>
                        <h5>제7조 (계약서 및 약관 등 교부 간주)</h5>
                        <div>
                            <p>당사와 여행자는 다음 각 호의 경우 여행 계약서와 여행 약관 및 여행 일정표(또는 여행 설명서)가 교부된 것으로 간주합니다.</p>
                            <ol>
                                <li>
                                    여행자가 인터넷 등 전자 정보망으로 제공된 여행 계약서, 약관 및 여행 일정표(또는 여행 설명서)의 내용에 동의하고
                                    여행 계약의 체결을 신청 한데의 대해 당사가 전자 정보망 내지 기계적 장치 등을 이용하여 여행자에게 승낙의 의사를 통지한 경우
                                </li>
                                <li>
                                    당사가 팩시밀리 등 기계적 장치를 이용하여 제공한 여행 계약서, 약관 및 여행일정표(또는 여행 설명서)의 내용에 대하여 여행자가 동의하고
                                    여행 계약의 체결을 신청하는 서면을 송부 한데의 대해 당사가 전자 정보망 내지 기계적 장치 등을 이용하여 여행자에게 승낙의 의사를 통지한 경우
                                </li>
                            </ol>
                        </div>
                    </li> <!--.7번 li-->
                    <li>
                        <h5>제8조 (여행사의 책임)</h5>
                        <div>
                            당사는 여행 출발 시부터 도착 시까지 당사 본인 또는 그 고용인, 현지 당사 또는 그 고용인 등(이하 ‘사용인’이라 함)이
                            제 2조 제1항에서 규정한 당사 임무와 관련하여 여행자에게 고의 또는 과실로 손해를 가한 경우 책임을 집니다.
                        </div>
                    </li> <!--.8번 li-->
                    <li>
                        <h5>제9조 (최저행사인원 미 충족 시 계약해제)</h5>
                        <div>
                            <p>
                                당사는 최저 행사 인원이 충족되지 아니하여 여행 계약을 해제하는 경우 여행 출발 7일전까지 여행자에게 통지하여야 합니다.<br>
                                당사가 여행 참가자 수 미달로 전항의 기일 내 통지를 하지 아니하고 계약을 해제하는 경우 이미 지급받은 계약금 환급 외에 다음 각 목의 1의 금액을 여행자에게 배상하여야 합니다.
                            </p>
                            <ol>
                                <li>
                                    여행 출발 1일전까지 통지 시 : 여행 요금의 30%
                                </li>
                                <li>
                                    여행 출발 당일 통지 시 : 여행 요금의 50%
                                </li>
                            </ol>
                        </div>
                    </li> <!--.9번 li-->
                    <li>
                        <h5>제10조 (계약체결 거절)</h5>
                        <div>
                            <p>당사는 여행자에게 다음 각 호의 1에 해당하는 사유가 있을 경우에는 여행자와의 계약 체결을 거절할 수 있습니다.</p>
                            <ol>
                                <li>
                                    다른 여행자에게 폐를 끼치거나 여행의 원활한 실시에 지장이 있다고 인정될 때
                                </li>
                                <li>
                                    질병 기타 사유로 여행이 어렵다고 인정될 때
                                </li>
                                <li>
                                    계약서에 명시한 최대 행사인원이 초과되었을 때
                                </li>
                            </ol>
                        </div>
                    </li> <!--.10번 li-->
                    <li>
                        <h5>제11조 (여행요금)</h5>
                        <div>
                            <ol>
                                <li>
                                    여행 계약서의 여행 요금에는 (자유 여행 제외) 다음 각 호가 포함됩니다. 단, 희망 여행은 당사자간 합의에 따릅니다.<br>
                                    항공기, 선박, 철도 등 이용 운송기관의 운임(보통운임기준) 공항, 역, 부두와 호텔 사이 등 송영 버스요금 숙박요금 및 식사요금 안내자경비
                                    여행 중 필요한 각종세금 국내외 공항, 항만세 관광진흥개발기금 일정표 내 관광지 입장료 기타 개별계약에 따른 비용
                                </li>
                                <li>
                                    여행자는 계약 체결 시 계약금(여행요금 중 10%이하 금액)을 당사에게 지급하여야 하며, 계약금은 여행 요금 또는 손해 배상액의 전부 또는 일부로 취급합니다.
                                </li>
                                <li>
                                    여행자는 제1항의 여행요금 중 계약금을 제외한 잔금을 여행출발 7일전까지 당사에게 지급하여야 합니다.
                                </li>
                                <li>
                                    여행자는 제1항의 여행요금을 당사가 지정한 방법(카드 계좌, 무통장 입금 등)으로 지급하여야 합니다.
                                </li>
                                <li>
                                    희망 여행요금에 여행자 보험료가 포함되는 경우 당사는 보험 증서 제공을 해야 합니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.11번 li-->
                    <li>
                        <h5>제12조 (여행요금의 변경)</h5>
                        <div>
                            <ol>
                                <li>
                                    국외여행을 실시함에 있어서 이용운송, 숙박기관에 지급하여야 할 요금이 계약 체결시보다 5% 이상 증감하거나여행 요금에 적용된 외화 환율이
                                    계약 체결시보다 2% 이상 증감한 경우 당사 또는 여행자는 그 증감된 금액 범위 내에서 여행 요금의 증감을 상대방에게 청구할 수 있습니다.
                                </li>
                                <li>
                                    당사는 제1항의 규정에 따라 여행 요금을 증액하였을 때에는 여행 출발일 15일전에 여행자에게 통지하여야 합니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.12번 li-->
                    <li>
                        <h5>제13조 (여행조건의 변경요건 및 요금 등의 정산)</h5>
                        <div>
                            <ol>
                                <li>
                                    위 제1조 내지 제12조의 여행조건은 다음 각 호의 1의 경우에 한하여 변경될 수 있습니다.<br>
                                    여행자의 안전과 보호를 위하여 여행자의 요청 또는 현지 사정에 의하여 부득이하다고 쌍방이 합의한 경우
                                    천재지변, 전란, 정부의 명령, 운송, 숙박기관 등의 파업, 휴업 등으로 여행의 목적을 달성할 수 없는 경우
                                </li>
                                <li>
                                    제1항의 여행조건 변경 및 제12조의 여행요금 변경으로 인하여 제11조 제1항의 여행요금에 증감이 생기는 경우에는
                                    여행출발 전 변경 분은 여행출발 이전에, 여행 중 변경 분은 여행종료 후 10일 이내에 각각 정산(환급)하여야 합니다.
                                </li>
                                <li>
                                    여행자는 여행출발 후 자기의 사정으로 숙박, 식사, 관광 등 여행요금에 포함된 서비스를 제공받지 못한 경우 당사에게 그에 상응하는 요금의 환급을 청구할 수 없습니다.
                                    단, 여행이 중도에 종료된 경우에는 제16 조에 준하여 처리합니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.13번 li-->
                    <li>
                        <h5>제14조 (손해배상)</h5>
                        <div>
                            <ol>
                                <li>
                                    당사는 현지 당사 등의 고의 또는 과실로 여행자에게 손해를 가한 경우 당사는 여행자에게 손해를 배상하여야 합니다.
                                </li>
                                <li>
                                    당사의 귀책 사유로 여행자의 국외 여행에 필요한 여권, 사증, 재 입국 허가 또는 각종 증명서 등을 취득하지 못하여 여행자의 여행 일정에
                                    차질이 생긴 경우 당사는 여행자로부터 절차 대행을 위하여 받은 금액 전부 및 그 금액의 100% 상당액을 여행자에게 배상하여야 합니다.
                                </li>
                                <li>
                                    당사는 항공기, 기차, 선박 등 교통기관의 연발 착 또는 교통체증 등으로 인하여 여행자가 입은 손해를 배상하여야 합니다.
                                    단, 당사가 고의 또는 과실이 없음을 입증한 때에는 그러하지 아니합니다.
                                </li>
                                <li>
                                    당사는 항공기, 기차, 선박 등 교통기관의 연발 착 또는 교통체증 등으로 인하여 여행자가 입은 손해를 배상하여야 합니다.
                                    단, 당사가 고의 또는 과실이 없음을 입증한 때에는 그러하지 아니합니다.
                                </li>
                                <li>
                                    당사는 자기나 그 사용인이 여행자의 수하물 수령, 인도, 보관 등에 관하여 주의를 해태(懈怠)하지 아니하였음을 증명하지 아니하면
                                    여행자의 수하물 멸실, 훼손 또는 연착으로 인한 손해를 배상할 책임을 면하지 못합니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.14번 li-->
                    <li>
                        <h5>제15조 (여행출발 전 계약해제)</h5>
                        <div>
                            <p>
                                여행사 또는 여행자는 여행출발 전 이 여행계약을 해제할 수 있습니다. 이 경우 발생하는 손해액은 ‘소비자분쟁해결기준’(공정거래위원회 고시)에 따라 배상합니다.<br>
                                당사 또는 여행자는 여행출발 전에 다음 각 호의 1에 해당하는 사유가 있는 경우 상대방에게 제1항의 손해배상액을 지급하지 아니하고 이 여행계약을 해제할 수 있습니다.
                            </p>
                            <ol>
                                <li>
                                    당사가 해제할 수 있는 경우<br>
                                    가. 제13조 제1항 제1호 및 제2호사유의 경우<br>
                                    나. 여행자가 다른 여행자에게 폐를 끼치거나 여행의 원활한 실시에 현저한 지장이 있다고 인정될 때<br>
                                    다. 질병 등 여행자의 신체에 이상이 발생하여 여행에의 참가가 불가능한 경우 라. 여행자가 계약서에 기재된 기일까지 여행요금을 납입하지 아니한 경우<br>
                                    여행자가 해제할 수 있는 경우<br>
                                    가. 제13조 제1항 제1호 및 제2호의 사유가 있는 경우<br>
                                    나. 여행자의 3촌 이내 친족이 사망한 경우<br>
                                    다. 질병 등 여행자의 신체에 이상이 발생하여 여행에의 참가가 불가능한 경우<br>
                                    라. 배우자 또는 직계존비속이 신체이상으로 3일 이상 병원(의원)에 입원하여 여행 출발 전까지 퇴원이 곤란한 경우 그 배우자 또는 보호자 1인<br>
                                    마. 당사의 귀책사유로 계약서 또는 여행일정표(여행설명서)에 기재된 여행일정대로의 여행실시가 불가능해진 경우<br>
                                    바. 제12조제1항의 규정에 의한 여행요금의 증액으로 인하여 여행 계속이 어렵다고 인정될 경우
                                </li>
                                <li>
                                    예약취소 시 취소공제 율은 다음과 같습니다.<br>
                                    여행사의 귀책사유로 여행사가 취소하는 경우<br>
                                    여행개시 20일전까지 통보 시 : 여행요금의 10% 배상<br>
                                    여행개시 10일전까지 통보 시 : 여행요금의 15% 배상<br>
                                    여행개시 8일전까지 통보 시 : 여행요금의 20% 배상<br>
                                    여행개시 1일전까지 통보 시 : 여행요금의 30% 배상<br>
                                    여행출발 당일 통보 시 : 여행요금의 50% 환불<br>
                                    여행참가자 수의 미달로 여행개시 7일 전까지 : 계약금환금<br>
                                    여행자의 여행계약 해제 요청이 있는 경우<br>
                                    여행출발일 20일전까지 통보 시 : 여행요금의 10% 환불<br>
                                    여행출발일 10일전까지 통보 시 : 여행요금의 15% 환불<br>
                                    여행출발일 8일전까지 통보 시 : 여행요금의 20% 환불<br>
                                    여행출발일 1일전까지 통보 시 : 여행요금의 30% 환불<br>
                                    여행출발 당일 통보 시 : 여행요금의 50% 환불
                                </li>
                            </ol>
                        </div>
                    </li> <!--.15번 li-->
                    <li>
                        <h5>제16조 (여행출발 후 계약해제)</h5>
                        <div>
                            <ol>
                                <li>
                                    당사 또는 여행자는 여행출발 후 부득이한 사유가 있는 경우 이 여행계약을 해지할 수 있습니다. 단, 이로 인하여 상대방이 입은 손해를 배상하여야 합니다.
                                </li>
                                <li>
                                    제1항의 규정에 의하여 계약이 해지된 경우 당사는 여행자가 귀국하는데 필요한 사항을 협조하여야 하며,
                                    이에 필요한 비용으로서 당사의 귀책사유에 의하지 아니한 것은 여행자가 부담합니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.16번 li-->
                    <li>
                        <h5>제17조 (여행의 시작과 종료)</h5>
                        <div>
                            여행의 시작은 탑승수속(선박인 경우 승선수속)을 마친 시점으로 하며, 여행의 종료는 여행자가 입국장 보세구역을 벗어나는 시점으로 합니다.
                            단, 계약내용상 국내이동이 있을 경우에는 최초 출발지에서 이용하는 운송수단의 출발시각과 도착시각으로 합니다.
                        </div>
                    </li> <!--.17번 li-->
                    <li>
                        <h5>제18조 (설명의무)</h5>
                        <div>
                            당사는 계약서에 정하여져 있는 중요한 내용 및 그 변경사항을 여행자가 이해할 수 있도록 설명하여야 합니다.
                        </div>
                    </li> <!--.18번 li-->
                    <li>
                        <h5>제19조 (보험가입 등)</h5>
                        <div>
                            당사는 이 여행과 관련하여 여행자에게 손해가 발생한 경우 여행자에게 보험금을 지급하기 위한 보험 또는 공제에 가입하거나 영업 보증금을 예치하여야 합니다.
                        </div>
                    </li> <!--.19번 li-->
                    <li>
                        <h5>제20조 (저작권의 귀속 및 이용제한)</h5>
                        <div>
                            <ol>
                                <li>
                                    당사가 작성한 저작물에 대한 저작권 기타 지적재산권은 "당사"에 귀속합니다.
                                </li>
                                <li>
                                    이용자는 당사를 이용함으로써 얻은 정보 중 당사에게 지적재산권이 귀속된 정보를 당사의 사전 승낙 없이 복제, 송신, 출판,
                                    배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.
                                </li>
                                <li>
                                    당사는 약정에 따라 이용자에게 귀속된 저작권을 사용하는 경우 당해 이용자에게 통보하여야 합니다.
                                </li>
                                <li>
                                    당사와 상품구매 및 서비스이용 계약을 체결하지 않고 이용자가 당사에 게시된 정보를 사용으로 인한 피해는 전적으로 이용자에게 있습니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.20번 li-->
                    <li>
                        <h5>제21조 (회원의 게시물 및 저작권)</h5>
                        <div>
                            <ol>
                                <li>
                                    게시물이라 함은 회원이 서비스를 이용하면서 게시한 글, 사진, 각종 파일과 링크 등을 말합니다.
                                </li>
                                <li>
                                    회원의 게시물에 의한 손해나 기타 문제가 발생하는 경우, 회원은 이에 대한 책임을 지게 되며, 당사는 책임을 지지 않습니다.
                                </li>
                                <li>
                                    당사는 다음 각 호에 해당하는 게시물 등을 회원의 사전 동의 없이 임의 게시, 중단, 수정, 삭제, 이동 또는 등록 거부 등의 관련 조치를 할 수 있습니다.<br>
                                    - 다른 회원 또는 제 3자에게 심한 모욕을 주거나 명예를 손상시키는 내용인 경우<br>
                                    - 공공질서 및 미풍양속에 위반되는 내용을 유포하거나 링크시키는 경우<br>
                                    - 불법복제 또는 해킹을 조장하는 내용인 경우 - 제 3자의 저작권을 침해하여 게시중단 요청을 받은 경우<br>
                                    - 영리를 목적으로 하는 광고일 경우 - 범죄와 결부된다고 객관적으로 인정되는 내용일 경우<br>
                                    - 다른 이용자 또는 제 3자의 저작권 등 기타 권리를 침해하는 내용인 경우<br>
                                    - 사적인 정치적 판단이나 종교적 견해의 내용으로 회사가 서비스 성격에 부합하지 않는다고 판단하는 경우<br>
                                    - 당사에서 규정한 게시물 원칙에 어긋나거나, 게시판 성격에 부합하지 않는 경우<br>
                                    - 기타 관계법령에 위배된다고 판단되는 경우
                                </li>
                                <li>
                                    회원이 게시한 게시물의 저작권은 게시한 회원에게 귀속됩니다. 단, 당사는 서비스의 운영, 전시, 전송, 배포, 홍보의 목적으로
                                    회원의 별도 허락 없이 무상으로 저작권법에 규정하는 공정한 관행에 합치되게 회원의 게시물을 사용할 수 있습니다.
                                </li>
                                <li>
                                    당사는 전항 이외의 방법으로 회원의 게시물을 이용하고자 하는 경우, 전화, 팩스, 전자우편 등의 방법을 통해 사전에 회원의 동의를 얻어야 합니다.
                                </li>
                                <li>
                                    회원이 이용계약 해지를 한 경우 타인에 의해 보관, 담기 등으로 재게 시 되거나 복제된 게시물과, 타인의 게시물과 결합되어 제공되는 게시물,
                                    공용 게시판에 등록된 게시물 등은 삭제되지 않습니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.21번 li-->
                    <li>
                        <h5>제22조 (분쟁해결)</h5>
                        <div>
                            <ol>
                                <li>
                                    당사는 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치 운영합니다.
                                </li>
                                <li>
                                    당사는 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다.
                                    다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.
                                </li>
                                <li>
                                    당사와 이용자간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는
                                    공정거래위원회 또는 시/도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.22번 li-->
                    <li>
                        <h5>제23조 (기타사항)</h5>
                        <div>
                            <ol>
                                <li>
                                    이 계약에 명시되지 아니한 사항 또는 이 계약의 해석에 관하여 다툼이 있는 경우에는 당사 또는 여행자가 합의하여 결정하되,
                                    합의가 이루어지지 아니한 경우에는 관계법령 및 일반관례에 따릅니다.
                                </li>
                                <li>
                                    특수지역에의 여행으로서 정당한 사유가 있는 경우에는 이 표준약관의 내용과 달리 정할 수 있습니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.23번 li-->
                </ul>
            </div> <!--.agreeTxt1-->


            <label>
                <input id="termsPrivacy" name="termsPrivacy" type="checkbox" value="true"><input name="termsPrivacy" type="hidden" value="false">
                개인 정보 취급 방침에 동의합니다.
            </label>
            <div class="agreeTxt2">
                <h5>개인 정보 취급 방침</h5>
                <ul>
                    <li>
                        엔타비 글로벌 (이하 '엔타비')는 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을
                        원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다. 엔타비는 회사는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항
                        (또는 개별공지)을 통하여 공지할 것입니다. 본 방침은부터 2016년 6월 1일부터 시행됩니다.
                    </li> <!--.1번 li-->
                    <li>
                        <h5>1. 개인정보 수집 및 이용목적</h5>
                        <div>
                            <p>
                                엔타비는 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적이외의 용도로는 사용되지 않으며
                                이용 목적이 변경될 시에는 사전동의를 구할 예정입니다.
                            </p>
                            <ol>
                                <li>
                                    홈페이지 회원가입 및 관리<br>
                                    회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지,
                                    만14세 미만 아동 개인정보 수집 시 법정대리인 동의 여부 확인, 각종 고지·통지, 분쟁 조정을 위한 기록 보존 등을 목적으로 개인정보를 처리합니다.
                                </li>
                                <li>
                                    서비스 제공<br>
                                    물품배송, 서비스 제공, 청구서 발송, 콘텐츠 제공, 맞춤 서비스 제공, 본인인증, 연령인증, 요금결제·정산 등을 목적으로 개인정보를 처리합니다.
                                </li>
                                <li>
                                    마케팅 및 광고에의 활용<br>
                                    신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공 , 인구통계학적 특성에 따른 서비스 제공 및 광고 게재 ,
                                    서비스의 유효성 확인, 접속빈도 파악 또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.2번 li-->
                    <li>
                        <h5>2. 개인정보 수집 항목</h5>
                        <div>
                            <p>엔타비는 다음의 개인정보 항목을 처리하고 있습니다.</p>
                            <ol>
                                <li>
                                    홈페이지 회원가입 및 관리/마케팅 정보 제공의 목적<br>
                                    (회원탈퇴 시 까지)<br>
                                    이메일, 휴대전화번호, 자택주소, 비밀번호, 로그인ID, 성별, 생년월일, 이름
                                </li>
                                <li>
                                    상담 및 예약의 목적<br>
                                    (신용카드정보, 은행계좌정보)<br>
                                    이메일, 휴대전화번호, 자택주소, 비밀번호, 로그인ID, 성별, 생년월일, 이름, 여권사본, 법정대리인 이름,
                                    법정대리인 자택 전화번호, 법정대리인 자택 주소, 법정대리인 휴대전화번호
                                </li>
                                <li>
                                    여행자 보험가입의 목적<br>
                                    (신용카드정보, 은행계좌정보)<br>
                                    이메일, 휴대전화번호, 자택주소, 성별, 생년월일, 이름
                                </li>
                                <li>
                                    대금결제의 목적<br>
                                    (이용목적이 달성되면 파기)<br>
                                    신용카드정보, 은행계좌정보
                                </li>
                            </ol>
                        </div>
                    </li> <!--.3번 li-->
                    <li>
                        <h5>3. 개인정보 수집 항목 보유 및 이용기간</h5>
                        <div>
                            <ol>
                                <li>
                                    엔타비는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집시에 동의 받은 개인정보 보유,이용기간 내에서 개인정보를 처리,보유합니다.
                                </li>
                                <li>
                                    각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
                                </li>
                            </ol>
                        </div>
                    </li> <!--.4번 li-->
                    <li>
                        <h5>4. 개인정보의 제3자 제공 및 공유</h5>
                        <div>
                            <ol>
                                <li>
                                    엔타비는 정보주체의 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.
                                </li>
                                <li>
                                    엔타비는 다음과 같이 개인정보를 제3자에게 제공하고 있습니다.
                                    <ul>
                                        <li>
                                            항공사/선박업체/여행업체/은행·카드 CP사/비자발급대행사/인솔자<br>
                                            (여행을 다녀온 시점에 즉시 파기)<br>
                                            >콘텐츠 제공, 구매 및 요금 결제, 개인 식별, 불만처리 등 민원처리, 고지사항 전달의 목적<br>
                                            >성명(국/영문), 여권 및 비자 사본, 전화번호, 주소, 회원 종류 위탁
                                        </li>
                                        <li>
                                            숙박업체<br>
                                            >숙박 예약 및 개인 식별의 목적
                                        </li>
                                        <li>
                                            토파스<br>
                                            >항공권 카드 결제의 목적<br>
                                            >한글명, 카드사명, 카드번호, 카드유효기간 위탁
                                        </li>
                                        <li>
                                            KB손해보험<br>
                                            >여행자 보험가입의 목적<br>
                                            >한글명, 영문명, 주민번호 위탁
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </li> <!--.5번 li-->
                    <li>
                        <h5>5. 개인정보의 권리,의무 및 그 행사방법</h5>
                        <p>정보주체의 권리,의무 및 그 행사방법 이용자는 개인정보주체로서 다음과 같은 권리를 행사할 수 있습니다.</p>
                        <ol>
                            <li>
                                정보주체는 엔타비에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
                            </li>
                            <li>
                                제1항에 따른 권리 행사는 엔타비에 대해 개인정보 보호법 시행규칙 별지 제8호 서식에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며
                                엔타비는 이에 대해 지체 없이 조치하겠습니다.
                            </li>
                            <li>
                                정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 엔타비는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.
                            </li>
                            <li>
                                제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다.
                                이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.
                            </li>
                        </ol>
                    </li> <!--.6번 li-->
                    <li>
                        <h5>6. 개인정보 자동수집 장치(쿠키 등)의 설치, 운영 및 그 거부에 관한 사항</h5>
                        <div>
                            <ol>
                                <li>
                                    쿠키의 사용 목적
                                </li>
                                <li>
                                    쿠키의 설치/운용 및 거부
                                </li>
                            </ol>
                        </div>
                    </li> <!--.7번 li-->
                    <li>
                        <h5>7. 개인정보의 안전성 확보 조치</h5>
                        <ol>
                            <li>
                                정기적인 자체 감사 실시<br>
                                개인정보 취급 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.
                            </li>
                            <li>
                                개인정보 취급 직원의 최소화 및 교육<br>
                                개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.
                            </li>
                            <li>
                                내부관리계획의 수립 및 시행<br>
                                개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.
                            </li>
                            <li>
                                해킹 등에 대비한 기술적 대책<br>
                                엔타비는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며
                                외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.
                            </li>
                            <li>
                                개인정보의 암호화<br>
                                이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는
                                파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.
                            </li>
                            <li>
                                접속기록의 보관 및 위변조 방지<br>
                                개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속 기록이 위변조 및 도난, 분실되지 않도록 보안기능 사용하고 있습니다.
                            </li>
                            <li>
                                개인정보에 대한 접근 제한<br>
                                개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한
                                조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.
                            </li>
                            <li>
                                문서보안을 위한 잠금장치 사용<br>
                                개인정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하고 있습니다.
                            </li>
                            <li>
                                비인가자에 대한 출입 통제<br>
                                개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.
                            </li>
                        </ol>
                    </li> <!--.8번 li-->
                    <li>
                        <h5>8. 개인정보에 관한 민원서비스</h5>
                        <div>
                            <p>
                                엔타비는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여
                                아래와 같이 개인정보 보호책임자를 지정하고 있습니다.<br>
                                개인정보 보호책임자 성명 : 배현준<br>
                                전화번호 : 051-633-5800<br>
                                이메일 : hj3bae@ntravels.co.kr<br>
                                기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
                            </p>
                            <ol>
                                <li>
                                    개인정보 침해신고센터 (www.1336.or.kr 국번 없이 118)
                                </li>
                                <li>
                                    정보보호 마크인증위원회 (www.eprivacy.or.kr 02-580-0533~4)
                                </li>
                                <li>
                                    대 검찰청 인터넷범죄수사센터 (icic.sppo.go.kr 02-3480-3600)
                                </li>
                                <li>
                                    경찰청 사이버테러대응센터 (www.ctrc.go.kr 02-392-0330)
                                </li>
                            </ol>
                        </div>
                    </li> <!--.9번 li-->
                    <li>
                        <h5>9. 개인정보 처리 방침 변경</h5>
                        <div>
                            이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.
                        </div>
                    </li> <!--.10번 li-->
                </ul>
            </div> <!--.agreeTxt2-->
            <p class="allagree">
                <label>
                    <input type="checkbox" class="allCheck" id="allCheck" onclick="setTerms()">
                    전체 약관을 읽어 보았고 약관에 동의합니다.
                </label>
            </p> <!--.allagree-->
        </section> <!--.agree-->

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button class="btn btn-default submit">가입하기</button>
                @*<button class="btn btn-default cancel">돌아가기</button>*@
            </div>
        </div>
        }
    </div>
</section>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
    function setTerms() {
        if (document.getElementById("allCheck").checked) {
            document.getElementById("termsService").checked = true;
            document.getElementById("termsPrivacy").checked = true;
        } else {
            document.getElementById("termsService").checked = false;
            document.getElementById("termsPrivacy").checked = false;
        }
    }

    $(document).ready(function () {
        $("a.searchAddress").on("click", function () {
            new daum.Postcode({
                oncomplete: function (data) {
                    var fullAddr = '';
                    var extraAddr = '';

                    if (data.userSelectedType === 'R') {
                        fullAddr = data.roadAddress;

                    } else {
                        fullAddr = data.jibunAddress;
                    }

                    if (data.userSelectedType === 'R') {
                        if (data.bname !== '') {
                            extraAddr += data.bname;
                        }
                        if (data.buildingName !== '') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
                    }

                    document.getElementById('inputAddress').value = fullAddr;
                    document.getElementById('inputAddress').focus();
                }
            }).open();
        });

        $("#chkIDBtn").on("click", function () {
            var id = $("#inputID"),
                check = /^[a-z]+[a-z0-9]{5,19}$/,
                erStr = "";

            if (!id.val().length)
                erStr = "아이디를 입력해 주세요.";
            else if (!(id.val().length >= 6 && id.val().length <= 10))
                erStr = "아이디는 영문/숫자 6-10 자리이내로 입력해 주세요.";
            else if (!check.test(id.val()))
                erStr = "아이디는 영문자로 시작하는 6~10 자리 영문자 또는 숫자이어야 합니다."
            else
                erStr = "";

            if (erStr != "") {
                alert(erStr);
                return;
            }

            var url = "/Members/chkID";
            var id = $("input#inputID").val();

            $.post(url, { id: id }, function (data) {
                alert(data);

                if (data.indexOf("사용") > -1) {
                    $("input[name=chkID]").val(1);
                    $("input#inputID").attr("disabled", true);
                }
            });
        });

        $("button.submit").on("click", function () {

            var chkID = $("input[name=chkID]"),
                id = $("#inputID"),
                name = $("#inputName"),
                pwd = $("#inputPassword"),
                chk_pwd = $("#inputPassword2"),
                service = $("#termsService"),
                privacy = $("#termsPrivacy");

            var regPwd = /^(?=.*[A-Za-z0-9])((?=.*\d)|(?=.*\W)).{6,20}$/;
            var regName = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;

            if (chkID.val() != "1") {
                alert("아이디를 확인해주세요.");
                id.focus();
                return false;
            }

            if (name.val() == "") {
                alert("이름을 입력해주세요.");
                name.focus();
                return false;
            }

            if (name.val().length < 2 || !regName.test(name.val())) {
                alert("이름을 제대로 입력해주세요.");
                name.focus();
                return false;
            }

            if (pwd.val() == "") {
                alert("비밀번호를 입력해주세요.");
                pwd.focus();
                return false;
            }

            if (!regPwd.test(pwd.val())) {
                alert("비밀번호는 영문 + 숫자로 6~20자 이내로 입력해주세요.");
                pwd.focus();
                return false;
            }

            if (chk_pwd.val() != pwd.val()) {
                alert("비밀 번호가 서로 다릅니다.");
                chk_pwd.focus();
                return false;
            }

            if (!service.is(":checked")) {
                alert("국외여행표준약관에 동의해주세요.");
                service.focus();
                return false;
            }

            if (!privacy.is(":checked")) {
                alert("개인정보취급방침에 동의해주세요.");
                privacy.focus();
                return false;
            }

            //var url = "/Members/Confirm";
            //var datas = { id: id.val(), pwd: pwd.val(), name: name.val(), tel: tel, mail: mail.val(), birth: birth.val() };

            var f = document.joinForm;

            f.hiddenID.value = id.val();
            f.hiddenEmail.value = $("#inputEmail").val();

            f.method = "post";
            f.action = "/Members/Confirm"
            f.submit();

            //var url = "/Home/SignUp";
            //var datas = { id: id.val(), pwd: pwd.val(), name: name.val(), tel: tel, mail: mail.val(), birth: birth.val() };

            //$.ajax({
            //    type: "POST",
            //    url: url,
            //    data: datas,
            //    success: function (data) {
            //        alert(data);
            //        location.href = "/Home/NDTLogin";
            //    }
            //    , beforeSend: function () {
            //        $('#loading').show();
            //    }
            //    , complete: function () {
            //        $('#loading').hide();
            //    }
            //});
        });
    });
</script>