@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string pdtTitle = "",
           empNo = "",
           empTel = "",
           empMail = "",
           imgPath = "";

    foreach (object item in Model)
    {
        pdtTitle = "";
        empNo = "";
        empTel = "";
        empMail = "";
        imgPath = "";

        try { pdtTitle = item.GetType().GetProperties()[0].GetValue(item, null).ToString(); } catch { continue; }
        try { empNo = item.GetType().GetProperties()[1].GetValue(item, null).ToString(); } catch { continue; }
        try { empTel = item.GetType().GetProperties()[2].GetValue(item, null).ToString(); } catch { continue; }
        try { empMail = item.GetType().GetProperties()[3].GetValue(item, null).ToString(); } catch { continue; }
        try { imgPath = item.GetType().GetProperties()[4].GetValue(item, null).ToString(); } catch { continue; }
    }

    var date = ViewBag.date;
    var trf = ViewBag.trf;
    var prc = ViewBag.prc;
    var userData = ViewBag.user;

    string aCnt = ViewBag.aCnt,
           cCnt = ViewBag.cCnt,
           bCnt = ViewBag.bCnt,
           code = ViewBag.code,
           key = ViewBag.key,
           prcCD = ViewBag.prcCD;

    string aPrice = "",
           cPrice = "",
           bPrice = "",
           currency = "",
           trfSeq = "",
           prcSeq = "";

    var dateArr = date.Split('-');

    string dateTxt = dateArr[0] + "년 " + dateArr[1] + "월 " + dateArr[2] + "일";

    string user_Name = "",
           user_Name_First = "",
           user_Name_Last = "",
           user_Email = "",
           user_Tel1 = "",
           user_Tel2 = "",
           user_Tel3 = "",
           user_Birth = "",
           user_Address = "",
           user_Gender = "",
           user_YY = "",
           user_SEQ = "";

    foreach (object item in userData)
    {
        user_Name = "";
        user_Name_First = "";
        user_Name_Last = "";
        user_Email = "";
        user_Tel1 = "";
        user_Tel2 = "";
        user_Tel3 = "";
        user_Birth = "";
        user_Address = "";
        user_Gender = "";
        user_YY = "";
        user_SEQ = "";

        try { user_Name = item.GetType().GetProperties()[0].GetValue(item, null).ToString(); }
        catch { }
        try { user_Name_First = item.GetType().GetProperties()[1].GetValue(item, null).ToString(); }
        catch { }
        try { user_Name_Last = item.GetType().GetProperties()[2].GetValue(item, null).ToString(); }
        catch { }
        try { user_Email = item.GetType().GetProperties()[3].GetValue(item, null).ToString(); }
        catch { }
        try { user_Tel1 = item.GetType().GetProperties()[4].GetValue(item, null).ToString(); }
        catch { }
        try { user_Tel2 = item.GetType().GetProperties()[5].GetValue(item, null).ToString(); }
        catch { }
        try { user_Tel3 = item.GetType().GetProperties()[6].GetValue(item, null).ToString(); }
        catch { }
        try { user_Birth = item.GetType().GetProperties()[7].GetValue(item, null).ToString(); }
        catch { }
        try { user_Address = item.GetType().GetProperties()[8].GetValue(item, null).ToString(); }
        catch { }
        try { user_Gender = item.GetType().GetProperties()[9].GetValue(item, null).ToString(); }
        catch { }
        try { user_YY = item.GetType().GetProperties()[10].GetValue(item, null).ToString(); }
        catch { }
        try { user_SEQ = item.GetType().GetProperties()[11].GetValue(item, null).ToString(); }
        catch { }
    }
}

<style>
    article#container .pro_top {
        height: 80px;
        background-color: #ededed;
    }

        article#container .pro_top > p {
            width: 1050px;
            margin: 0 auto;
            font-size: 24px;
            line-height: 80px;
            position: relative;
            top: auto;
            left: auto;
            color: black;
        }

            article#container .pro_top > p > span {
                font-size: 24px;
            }

    article#container .content {
        width: 900px;
        margin: 60px auto;
        overflow: hidden;
    }

        article#container .content > section {
            width: 50%;
            float: left;
            padding: 10px;
        }

            article#container .content > section h4 {
                color: #a0ce54;
                border-bottom: 1px solid #ddd;
                padding: 5px;
                text-align: left;
            }

                article#container .content > section h4 > label {
                    float: right;
                    border: 1px solid #ddd;
                    font-size: 16px;
                    font-weight: normal;
                    padding: 5px;
                    cursor: pointer;
                }

            article#container .content > section > ul {
                text-align: left;
                line-height: 24px;
                margin: 20px 40px;
            }

        article#container .content section.product {
            text-align: center;
        }

            article#container .content section.product > ul,
            article#container .content section.product > ul > li {
                list-style: circle;
            }

        article#container .content section.revData {
            float: right;
        }

            article#container .content section.revData div.revM {
                background-color: #f0f0f0;
                padding: 10px 15px;
            }

                article#container .content section.revData div.revM h4 {
                    border-bottom: 2px solid white;
                    margin: 0;
                }

            article#container .content section.revData table input[type=text],
            article#container .content section.revData table input[type=email],
            article#container .content section.revData table select {
                width: 100%;
                height: 40px;
                border: 1px solid #d7d7d7;
                border-radius: 2px;
                font-size: 14px;
                padding: 0 10px;
            }

            article#container .content section.revData table input[type=tel] {
                width: 30%;
                height: 40px;
                border: 1px solid #d7d7d7;
                border-radius: 2px;
                font-size: 14px;
                padding: 0 10px;
            }

            article#container .content section.revData table span {
                display: inline-block;
                width: 5%;
                text-align: center;
            }

            article#container .content section.revData div.trvM {
                overflow: hidden;
            }

                article#container .content section.revData div.trvM div.swiper-wrapper table {
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                }

                    article#container .content section.revData div.trvM div.swiper-wrapper table * {
                        width: 100%;
                        display: block;
                    }

                    article#container .content section.revData div.trvM div.swiper-wrapper table span {
                        display: inline;
                        width: auto;
                        text-align: inherit;
                        font-size: 12px;
                        border: 1px solid #a0ce54;
                        padding: 0 6px;
                        float: right;
                    }

            article#container .content section.revData a.reserveBtn {
                width: 80%;
                margin: 10px auto 0;
                display: block;
                height: 50px;
                background-color: #a0ce54;
                border: none;
                color: white;
            }

        article#container .content section.price > span {
            float: right;
            font-size: 22px;
            color: #a0ce54;
            font-weight: bold;
        }

        article#container .content div.btnArea {
            clear: both;
        }

            article#container .content div.btnArea a.reserveBtn {
                width: 50%;
                display: block;
                height: 50px;
                line-height: 50px;
                margin: 0 auto;
                text-align: center;
                background-color: #a0ce54;
                color: white;
                cursor: pointer;
            }

    #terms_nav {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        text-align: left;
    }

        #terms_nav ul {
            width: auto;
            float: left;
            padding: 0;
        }

        #terms_nav:after {
            clear: both;
            content: '';
            display: block;
        }

        #terms_nav ul li {
            width: auto;
            float: left;
            padding: 2px 2px;
            position: relative;
            left: 0px;
            top: 0;
            list-style: none;
        }

            #terms_nav ul li a {
                color: #222;
                font-size: 12px;
                display: inline-block;
                padding: 4px 9px;
                border: #b1b1b1 solid 1px;
                color: #b1b1b1;
                font-weight: 600;
            }

                #terms_nav ul li a.on {
                    color: #79b300;
                    border: #79b300 solid 1px;
                }

                #terms_nav ul li a strong {
                    color: #79b300;
                }

            #terms_nav ul li.last {
                padding-right: 0;
            }

        #terms_nav ul:after {
            clear: both;
            content: '';
            display: block;
        }

    .cancel {
        display: none;
        position: relative;
        left: 0px;
        top: 0;
        border: 1px solid #e1e1e1;
        background: #f7f7f7;
        height: 270px;
        overflow: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

        .cancel.on {
            display: block;
        }

        .cancel article {
            height: auto;
            position: absolute;
            left: 20px;
            top: 20px;
            right: 20px;
            padding-bottom: 20px;
            font-size: 12px;
            line-height: 18px;
            color: #222;
        }

            .cancel article em {
                color: #79b300;
            }

            .cancel article h3 {
                font-size: 24px;
                line-height: 30px;
                color: #79b300;
                font-weight: 400;
                margin: 0;
                text-align: left;
                padding: 0;
                background: #f7f7f7;
                height: 30px;
            }

            .cancel article h4 {
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 10px;
                font-weight: 400;
                margin: 0;
                color: black;
                padding: 0;
                border: none;
            }

            .cancel article ol {
                padding: 0;
                list-style: none;
            }

            .cancel article strong {
                color: #f00;
            }

    .cancel_ok {
        margin-top: 10px;
        padding: 0 20px;
        line-height: 30px;
        cursor: pointer;
    }

        .cancel_ok label {
            margin: 0;
            cursor: pointer;
        }

        .cancel_ok span {
            float: left;
        }

        .cancel_ok:after {
            clear: both;
            content: '';
            display: block;
        }

        .cancel_ok input {
            vertical-align: middle;
            margin-right: 5px;
        }

        .cancel_ok.all {
            width: 100%;
            padding: 0 2%;
            margin-top: 30px;
            border: 1px solid #e1e1e1;
            background: #f7f7f7;
            font-size: 13px;
        }

        .cancel_ok > span.cancel_ok_two {
            margin-left: 20px;
        }
</style>


<div class="pro_top">

    <p><span>예약하기</span></p>

</div>

<div class="content">
    <section class="product">
        <h4>상품 정보</h4>
        <img src="@imgPath" />

        <ul>
            <li>@pdtTitle</li>
            <li>출발일 : @dateTxt</li>
            <li>
                @foreach (object item in trf.Data)
                {
                string temp1 = "",
                temp2 = "",
                temp3 = "";

                trfSeq = "";

                try { trfSeq = item.GetType().GetProperties()[0].GetValue(item, null).ToString(); }
                catch { continue; }
                try { temp1 = item.GetType().GetProperties()[1].GetValue(item, null).ToString(); }
                catch { continue; }
                try { temp2 = item.GetType().GetProperties()[2].GetValue(item, null).ToString(); }
                catch { continue; }
                try { temp3 = item.GetType().GetProperties()[3].GetValue(item, null).ToString(); }
                catch { continue; }

                <span>교통편 : @temp1 <br />(@temp2 출발 -> @temp3 도착)</span>
                }
            </li>
            <li>
                @foreach (object item in prc.Data)
                {
                string temp1 = "";

                prcSeq = "";
                aPrice = "";
                cPrice = "";
                bPrice = "";
                currency = "";

                try { prcSeq = item.GetType().GetProperties()[0].GetValue(item, null).ToString(); }
                catch { continue; }
                try { temp1 = item.GetType().GetProperties()[5].GetValue(item, null).ToString(); }
                catch { continue; }
                try { currency = item.GetType().GetProperties()[1].GetValue(item, null).ToString(); }
                catch { continue; }
                try { aPrice = item.GetType().GetProperties()[2].GetValue(item, null).ToString(); }
                catch { continue; }
                try { cPrice = item.GetType().GetProperties()[3].GetValue(item, null).ToString(); }
                catch { continue; }
                try { bPrice = item.GetType().GetProperties()[4].GetValue(item, null).ToString(); }
                catch { continue; }

                if (prcCD != prcSeq)
                {
                continue;
                }

                <span>옵션 : @temp1 @*<br />(요금 : 성인 @Html.Action("transCurrency", new { code = temp2 }) @aPrice)*@</span>

                break;
                }
            </li>
            <li>
                담당자 : @empNo <br>
                전화번호 : @empTel <br>
                E-mail : @empMail
            </li>
        </ul>
    </section>

    @{
    string txt = "";

    int totalPrice = 0,
    totalCnt = 0;

    totalPrice = Convert.ToInt32(aCnt) * Convert.ToInt32(aPrice);
    totalCnt = Convert.ToInt32(aCnt);

    txt = "성인 " + Convert.ToInt32(aCnt) + "명 " + String.Format("{0:#,##0}", totalPrice) + Html.Action("transCurrency", new { code = currency, type = "" });

    if ((code.Equals("NTBLT3183") && key.Equals("3")) ||
    (code.Equals("NTBLT4186") && key.Equals("4")))
    {
    txt = "4인 " + Convert.ToInt32(aCnt) + "팀 " + String.Format("{0:#,##0}", totalPrice) + Html.Action("transCurrency", new { code = currency, type = "" });
    }


    if (cCnt != "0")
    {
    totalPrice += Convert.ToInt32(cCnt) * Convert.ToInt32(cPrice);
    totalCnt += Convert.ToInt32(cCnt);

    txt += ", 소아 " + Convert.ToInt32(cCnt) + "명 " + String.Format("{0:#,##0}", Convert.ToInt32(cCnt) * Convert.ToInt32(cPrice)) + Html.Action("transCurrency", new { code = currency, type = "" });
    }

    if (bCnt != "0")
    {
    totalPrice += Convert.ToInt32(bCnt) * Convert.ToInt32(bPrice);
    totalCnt += Convert.ToInt32(bCnt);

    txt += ", 유아 " + Convert.ToInt32(bCnt) + "명 " + String.Format("{0:#,##0}", Convert.ToInt32(bCnt) * Convert.ToInt32(bPrice)) + Html.Action("transCurrency", new { code = currency, type = "" });
    }
    }


    <section class="revData">
        <form name="revForm" method="post">
            <input type="hidden" name="code" value="@code" />
            <input type="hidden" name="key" value="@key" />
            <input type="hidden" name="date" value="@date" />
            <input type="hidden" name="trfCD" value="@trfSeq" />
            <input type="hidden" name="prcCD" value="@prcSeq" />
            <input type="hidden" name="aCnt" value="@aCnt" />
            <input type="hidden" name="cCnt" value="@cCnt" />
            <input type="hidden" name="bCnt" value="@bCnt" />
            @*<input type="hidden" name="bCnt" value="@bCnt" />*@
            <input type="hidden" name="user_YY" value="@user_YY" />
            <input type="hidden" name="user_SEQ" value="@user_SEQ" />

            <div class="revM">
                <h4>예약정보<span style="color: red;">(필수)</span></h4>

                <table>
                    <tr>
                        <td><span style="color: red;">*</span>예약자 이름</td>
                    </tr>
                    <tr>
                        <td><input name="revName" type="text" value="@user_Name" maxlength="20"></td>
                    </tr>
                    <tr>
                        <td><span style="color: red;">*</span>이메일</td>
                    </tr>
                    <tr>
                        <td><input name="revEmail" type="email" value="@user_Email" maxlength="20"></td>
                    </tr>
                    <tr>
                        <td><span style="color: red;">*</span>휴대전화</td>
                    </tr>
                    <tr>
                        <td>
                            <input name="revTel1" type="tel" value="@user_Tel1" maxlength="4"><span>-</span><input name="revTel2" type="tel" value="@user_Tel2" maxlength="4"><span>-</span><input name="revTel3" type="tel" value="@user_Tel3" maxlength="4">
                        </td>
                    </tr>
                    <tr>
                        <td>생년월일</td>
                    </tr>
                    <tr>
                        <td><input name="revBirth" type="text" value="@user_Birth" maxlength="8"></td>
                    </tr>
                    <tr>
                        <td>주소</td>
                    </tr>
                    <tr>
                        <td><input name="revAddress" type="text" value="@user_Address"></td>
                    </tr>
                </table>
            </div>

            <div class="trvM">
                <h4>여행자 정보<label><input type="checkbox" class="rtEq" />예약자와 같음</label></h4>
                <span style="color: red;">
                    ※ 대표 여행자는 필수 입력입니다.
                </span>
                <div class="swiper-wrapper">
                    @for (int i = 1; i <= totalCnt; i++)
                    {
                    int Cnt = i;

                    <table class="swiper-slide">
                        <tr height="40">
                            <td align="center" style="font-size:20px; color:#a0ce54;">
                                @if (Cnt <= 1)
                                {
                                <p>대표 여행자 <span>@Cnt / @totalCnt</span></p>
                                }
                                else
                                {
                                <p>여행자 @Cnt <span>@Cnt / @totalCnt</span></p>
                                }

                            </td>
                        </tr>
                        <tr>
                            <td>이름 (한글)</td>
                        </tr>
                        <tr>
                            <td><input name="trvName" type="text" placeholder="이름(한글)을 입력해주세요." maxlength="20"></td>
                        </tr>
                        <tr>
                            <td>성 (여권상 영문 성)</td>
                        </tr>
                        <tr>
                            <td><input name="trvName_First" type="text" placeholder="여권상 영문 성(성)을 입력해주세요." maxlength="20"></td>
                        </tr>
                        <tr>
                            <td>이름 (여권상 영문 명)</td>
                        </tr>
                        <tr>
                            <td><input name="trvName_Last" type="text" placeholder="여권상 영문 명(이름)을 입력해주세요." maxlength="20"></td>
                        </tr>
                        @*
                        <tr>
                            <td>휴대전화</td>
                        </tr>
                        <tr>
                            <td><input name="trvTel1[]" type="tel"><span>-</span><input name="trvTel1[]" type="tel"><span>-</span><input name="trvTel1[]" type="tel"></td>
                        </tr>*@
                        <tr>
                            <td>성별</td>
                        </tr>
                        <tr>
                            <td>
                                <select name="trvGender">
                                    <option value="m">남자</option>
                                    <option value="f">여자</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>구분</td>
                        </tr>
                        <tr>
                            <td>
                                <select name="trvGB">
                                    <option value="A">성인</option>
                                    <option value="C">소아</option>
                                    <option value="B">유아</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    }
                </div>
            </div>
            @if (totalCnt > 1)
            {
            <span style="color: red;">
                ※ 여행자 카드를 옆으로 슬라이드 해서 여행자 정보를 입력해주세요.
            </span>
            }
            <div>
                <h4>추가 요청 사항</h4>
                <textarea name="reqTxt" style="width:99%; height:100px; border:1px solid #d7d7d7; border-radius:2px; font-size:14px; margin-top:10px;"></textarea>
            </div>

            <div class="cancel_ok all">
                <label>
                    <input type="checkbox" id="chk_all" name="chk_all"> 전체약관을 확인했으며 이에 동의합니다.
                </label>
            </div>
            <div class="cancel_ok">
                <span class="cancel_ok_one">
                    <label>
                        <input type="checkbox" id="termsCancel" name="termsCancel"> 취소수수료 특약 동의
                    </label>
                </span>
                <span class="cancel_ok_two">
                    <label>
                        <input type="checkbox" id="termsStandard" name="termsStandard"> 국외 여행 표준약관 동의
                    </label>
                </span>
                <span class="cancel_ok_three">
                    <label>
                        <input type="checkbox" id="termsPrivacy" name="termsPrivacy"> 개인 정보 수집 동의
                    </label>
                </span>
            </div>
        </form>
    </section>

    <section class="price">
        <h4>결제 정보</h4>
        <ul>
            <li>
                @txt
            </li>
        </ul>

        <span>@String.Format("{0:#,##0}", totalPrice) @Html.Action("transCurrency", new { code = currency, type = "" })</span>
    </section>

    <section class="terms">
        <h4>약관 동의</h4>
        <div id="terms_nav">
            <ul>
                <li><a class="on" href="javascript:;" onclick="$('#terms_nav ul li a, .cancel').removeClass('on');$(this).addClass('on');$('.cancel1').addClass('on');">취소수수료 특약</a><span></span></li>
                <li><a href="javascript:;" onclick="$('#terms_nav ul li a, .cancel').removeClass('on');$(this).addClass('on');$('.cancel2').addClass('on');">국외여행 표준약관</a><span></span></li>
                <li><a href="javascript:;" onclick="$('#terms_nav ul li a, .cancel').removeClass('on');$(this).addClass('on');$('.cancel3').addClass('on');">개인정보 수집 및 이용</a><span></span></li>
            </ul>
        </div>

        <div class="cancel cancel1 on">
            <article>
                <h3> [취소료 특약 규정] (국외여행약관 제5조 특약)</h3>

                <ol>
                    <li>
                        <h4>여행자의 취소 요청 시 일반여행약관이 아닌 다음과 같은 특별 약관이 적용됩니다.</h4>
                    </li>
                    <li>
                        <h4>고객 결제 후 해피콜(문자) 시 최종 확정 여부를 결정하며, 출발 확정 이후 취소 시 다음의 약관에 따릅니다.</h4>
                    </li>
                </ol>
                <ol>
                    <li><h4>▣ 확정 후 취소 시 여행 출발일과 관계 없이 여행요금의 10% 공제 후 환불</h4></li>
                    <li><h4>▣ 여행출발일 7~2일전 50% 공제 후 환불</h4></li>
                    <li><h4>▣ 여행출발일 1일전 70% 공제 후 환불</h4></li>
                    <li><h4>▣ 여행출발일 당일 요청 시 환불불가</h4></li>
                </ol>
                <ol>
                    <li>
                        <h4>※ 근무일(공휴일 및 토, 일요일 제외) 및 근무시간(09 ~ 17시까지 ) 내에  유선상 취소 요청에 의해 적용</h4>
                    </li>
                    <li>
                        <h4>※ 미 확정 상태(모객 부족 시 대기상태)에서 취소 요청 시 입금액 전액 환급됩니다.</h4>
                    </li>
                </ol>
            </article>
        </div><!-- .cancel -->
        <div class="cancel cancel2">
            <article>

                <h3>국외여행표준약관</h3>
                <ol>
                    <li>
                        <h4>제1조 (목적)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>이 약관은 (주)NTRAVELS(이하 “당사”로 한다)과 여행자가 체결한 국외 여행계약의 세부 이행 및 준수사항을 정함을 목적으로 합니다.</h5><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제2조 (당사와 여행자 의무)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>① 당사는 여행자에게 안전하고 만족스러운 여행 서비스를 제공하기 위하여 여행 알선 및 안내, 운송, 숙박 등 여행 계획의 수립 및 실행 과정에서 맡은 바 임무를 충실히 수행하여야 합니다.</h5><br />
                            </li>
                            <li>
                                <h5>② 여행자는 안전하고 즐거운 여행을 위하여 여행자간 화합 도모 및 여행업자의 여행 질서 유지에 적극 협조하여야 합니다.</h5><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제3조 (용어의 정의)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>여행의 종류 및 정의, 해외 여행수속 대행업의 정의는 다음과 같습니다.</h5><br />
                            </li>
                            <li>
                                <h5>① 기획여행</h5>
                                <p class="indent1">여행업자가 미리 여행 목적지 및 관광일정, 여행자에게 제공될 운송 및 숙식서비스 내용(이하‘여행서비스’라 함), 여행 요금을 정하여 광고 또는 기타 방법으로 여행자를 모집하여 실시하는 여행.</p><br />
                            </li>
                            <li>
                                <h5>② 희망여행</h5>
                                <p class="indent1">여행자(개인 또는 단체)가 희망하는 여행 조건에 따라 여행 업자가 운송, 숙식, 관광 등 여행에 관한 전반적인 계획을 수립하여 실시하는 여행.</p><br />
                            </li>
                            <li>
                                <h5>③ 자유 여행</h5>
                                <p class="indent1">여행자 (개인 또는 단체)가 희망하는 여행 조건에 따라 여행 업자가 항공 및 숙박 계획을 수립 하여 실시 하는 여행.</p><br />
                            </li>
                            <li>
                                <h5>
                                    ④ 해외여행 수속대행(이하 ‘수속대행계약’이라 함)
                                </h5>
                                <p class="indent1">
                                    여행사가 여행자로부터 소정의 수속대행요금을 받기로 약정하고, 여행자의 위탁에 따라 다음에 열거하는 업무(이하 ‘수속대행업무’라 함)를 대행하는 것.<br />
                                    여권, 사증, 재 입국 허가 및 각종 증명서 취득에 관한 수속, 출입국 수속 서류 작성 및 기타 관련업무
                                </p><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제4조 (계약의 구성)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>① 여행계약은 여행계약서(붙임)와 여행약관, 여행일정표(또는 여행 설명서)를 계약내용으로 합니다.</h5><br />
                            </li>
                            <li>
                                <h5>② 여행일정표(또는 여행설명서)에는 여행 일자 별 여행지와 관광 내용, 교통 수단, 쇼핑 횟수, 숙박장소, 식사 등 여행 실시일정 및 여행사 제공 서비스 내용과 여행자 유의사항이 포함되어야 합니다.</h5><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제5조 (특약)</h4>
                        <br />
                        <ul>
                            <li><h5>당사와 여행자는 관계 법규에 위반되지 않는 범위 내에서 서면으로 특약을 맺을 수 있습니다. <br />이 경우 표준 약관과 다름을 당사는 여행자에게 설명해야 합니다.</h5><br /></li>
                            <li>
                                <h5>① 당사 전 상품은 해외여행약관 취소규정을 준수하나 일부 상품은 상품의 특수성으로 인해 취소 수수료를 다르게 적용합니다. </h5>
                                <p class="indent1">(상품설명페이지와 예약페이지 참조)</p><br />
                            </li>
                            <li><h5>② 일부 상품은 해외여행약관 보험가입규정을 준수하나 일부 상품은 상품의 특수성으로 인해 여행자보험을 개인적으로 가입해야 합니다.</h5><br /></li>
                        </ul>
                    </li>
                    <li>
                        <h4>제6조(안전정보 제공 및 계약서 등 교부) </h4>
                        <br />
                        <ul>
                            <li>
                                <h5>여행자와 여행계약을 체결할 때 여행약관과 외교부 해외안전여행 홈페이지 (<a href="www.0404.go.kr" alt="외교부 해외안전여행 홈페이지" style="color: #444;">www.0404.go.kr</a>) 에 게재된 여행지 안전정보를 제공하여야 하며, 여행계약을 체결한 경우 계약서와 여행일정표(또는 여행설명서)를 각 1부씩 여행자에게 교부하여야 합니다.</h5><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제7조 (계약서 및 약관 등 교부 간주)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>당사와 여행자는 다음 각 호의 경우 여행 계약서와 여행 약관 및 여행 일정표(또는 여행 설명서)가 교부된 것으로 간주합니다.</h5><br />
                            </li>
                            <li>
                                <h5>여행자가 인터넷 등 전자 정보망으로 제공된 여행 계약서, 약관 및 여행 일정표(또는 여행 설명서)의 내용에 동의하고 여행 계약의 체결을 신청 한데의 대해 당사가 전자 정보망 내지 기계적 장치 등을 이용하여 여행자에게 승낙의 의사를 통지한 경우</h5><br />
                            </li>
                            <li>
                                <h5>당사가 팩시밀리 등 기계적 장치를 이용하여 제공한 여행 계약서, 약관 및 여행일정표(또는 여행 설명서)의 내용에 대하여 여행자가 동의하고 여행 계약의 체결을 신청하는 서면을 송부 한데의 대해 당사가 전자 정보망 내지 기계적 장치 등을 이용하여 여행자에게 승낙의 의사를 통지한 경우</h5><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제8조 (여행사의 책임)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>당사는 여행 출발 시부터 도착 시까지 당사 본인 또는 그 고용인, 현지 당사 또는 그 고용인 등(이하 ‘사용인’이라 함)이 제 2조 제1항에서 규정한 당사 임무와 관련하여 여행자에게 고의 또는 과실로 손해를 가한 경우 책임을 집니다.</h5><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제9조 (최저행사인원 미 충족 시 계약해제)</h4>
                        <br />
                        <ul>
                            <li><h5>① 당사는 최저 행사 인원이 충족되지 아니하여 여행 계약을 해제하는 경우 여행 출발 7일전까지 여행자에게 통지하여야 합니다.</h5><br /></li>
                            <li><h5>② 당사가 여행 참가자 수 미달로 전항의 기일 내 통지를 하지 아니하고 계약을 해제하는 경우 이미 지급받은 계약금 환급 외에 다음 각 목의 1의 금액을 여행자에게 배상하여야 합니다.</h5><br /></li>
                            <li><h5>여행 출발 1일전까지 통지 시</h5><p class="indent1">여행 요금의 30%</p><br /></li>
                            <li><h5>여행 출발 당일 통지 시</h5><p class="indent1">여행 요금의 50%</p><br /></li>
                        </ul>
                    </li>
                    <li>
                        <h4>제10조 (계약체결 거절)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>당사는 여행자에게 다음 각 호의 1에 해당하는 사유가 있을 경우에는 여행자와의 계약 체결을 거절할 수 있습니다.</h5><br />
                                <p class="indent1">
                                    다른 여행자에게 폐를 끼치거나 여행의 원활한 실시에 지장이 있다고 인정될 때<br />
                                    질병 기타 사유로 여행이 어렵다고 인정될 때<br />
                                    계약서에 명시한 최대 행사인원이 초과되었을 때<br />
                                </p><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제11조 (여행요금)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>① 여행 계약서의 여행 요금에는 (자유 여행 제외) 다음 각 호가 포함됩니다. 단, 희망 여행은 당사자간 합의에 따릅니다.</h5><br />
                                <p class="indent1">
                                    항공기, 선박, 철도 등 이용 운송기관의 운임(보통운임기준)<br />
                                    공항, 역, 부두와 호텔 사이 등 송영 버스요금<br />
                                    숙박요금 및 식사요금<br />
                                    안내자경비<br />
                                    여행 중 필요한 각종세금 <br />
                                    국내외 공항, 항만세 <br />
                                    관광진흥개발기금 <br />
                                    일정표 내 관광지 입장료<br />
                                    기타 개별계약에 따른 비용<br />
                                </p><br />
                            </li>
                            <li><h5>② 여행자는 계약 체결 시 계약금(여행요금 중 10%이하 금액)을 당사에게 지급하여야 하며, 계약금은 여행 요금 또는 손해 배상액의 전부 또는 일부로 취급합니다.</h5><br /></li>
                            <li><h5>③ 여행자는 제1항의 여행요금 중 계약금을 제외한 잔금을 여행출발 7일전까지 당사에게 지급하여야 합니다.</h5><br /></li>
                            <li><h5>④ 여행자는 제1항의 여행요금을 당사가 지정한 방법(카드 계좌, 무통장 입금 등)으로 지급하여야 합니다.</h5><br /></li>
                            <li><h5>⑤ 희망 여행요금에 여행자 보험료가 포함되는 경우 당사는 보험 증서 제공을 해야 합니다.</h5><br /></li>
                        </ul>
                    </li>
                    <li>
                        <h4>제12조 (여행요금의 변경)</h4>
                        <br />
                        <ul>
                            <li><h5>① 국외여행을 실시함에 있어서 이용운송, 숙박기관에 지급하여야 할 요금이 계약 체결시보다 5% 이상 증감하거나 여행 요금에 적용된 외화 환율이 계약 체결시보다 2% 이상 증감한 경우 당사 또는 여행자는 그 증감된 금액 범위 내에서 여행 요금의 증감을 상대방에게 청구할 수 있습니다.</h5><br /></li>
                            <li><h5>② 당사는 제1항의 규정에 따라 여행 요금을 증액하였을 때에는 여행 출발일 15일전에 여행자에게 통지하여야 합니다.</h5><br /></li>
                        </ul>
                    </li>
                    <li>
                        <h4>제13조 (여행조건의 변경요건 및 요금 등의 정산) </h4>
                        <br />
                        <ul>
                            <li>
                                <h5>① 위 제1조 내지 제12조의 여행조건은 다음 각 호의 1의 경우에 한하여 변경될 수 있습니다.</h5>
                                <p class="indent1">
                                    여행자의 안전과 보호를 위하여 여행자의 요청 또는 현지 사정에 의하여 부득이하다고 쌍방이 합의한 경우
                                    천재지변, 전란, 정부의 명령, 운송, 숙박기관 등의 파업, 휴업 등으로 여행의 목적을 달성할 수 없는 경우
                                </p>
                                <br />
                            </li>
                            <li><h5>② 제1항의 여행조건 변경 및 제12조의 여행요금 변경으로 인하여 제11조 제1항의 여행요금에 증감이 생기는 경우에는 여행출발 전 변경 분은 여행출발 이전에, 여행 중 변경 분은 여행종료 후 10일 이내에 각각 정산(환급)하여야 합니다.</h5><br /></li>
                            <li><h5>③ 제1항의 규정에 의하지 아니하고 여행조건이 변경되거나 제14조 또는 제15조의 규정에 의한 계약의 해제/해지로 인하여 손해배상액이 발생한 경우에는 여행출발 전 발생 분은 여행출발이전에, 여행 중 발생 분은 여행종료 후 10일 이내에 각각 정산(환급)하여야 합니다.</h5><br /></li>
                            <li><h5>④ 여행자는 여행출발 후 자기의 사정으로 숙박, 식사, 관광 등 여행요금에 포함된 서비스를 제공받지 못한 경우 당사에게 그에 상응하는 요금의 환급을 청구할 수 없습니다. 단, 여행이 중도에 종료된 경우에는 제16 조에 준하여 처리합니다.</h5><br /></li>
                        </ul>
                    </li>
                    <li>
                        <h4>제14조 (손해배상)</h4>
                        <br />
                        <ul>
                            <li><h5>① 당사는 현지 당사 등의 고의 또는 과실로 여행자에게 손해를 가한 경우 당사는 여행자에게 손해를 배상하여야 합니다.</h5><br /></li>
                            <li><h5>② 당사의 귀책 사유로 여행자의 국외 여행에 필요한 여권, 사증, 재 입국 허가 또는 각종 증명서 등을 취득하지 못하여 여행자의 여행 일정에 차질이 생긴 경우 당사는 여행자로부터 절차 대행을 위하여 받은 금액 전부 및 그 금액의 100% 상당액을 여행자에게 배상하여야 합니다.</h5><br /></li>
                            <li><h5>③ 당사는 항공기, 기차, 선박 등 교통기관의 연발 착 또는 교통체증 등으로 인하여 여행자가 입은 손해를 배상하여야 합니다. 단, 당사가 고의 또는 과실이 없음을 입증한 때에는 그러하지 아니합니다.</h5><br /></li>
                            <li><h5>④ 당사는 자기나 그 사용인이 여행자의 수하물 수령, 인도, 보관 등에 관하여 주의를 해태(懈怠)하지 아니하였음을 증명하지 아니하면 여행자의 수하물 멸실, 훼손 또는 연착으로 인한 손해를 배상할 책임을 면하지 못합니다.</h5><br /></li>
                        </ul>
                    </li>
                    <li>
                        <h4>제15조 (여행출발 전 계약해제)</h4>
                        <br />
                        <ul>
                            <li><h5>① 여행사 또는 여행자는 여행출발 전 이 여행계약을 해제할 수 있습니다. 이 경우 발생하는 손해액은 ‘소비자분쟁해결기준’(공정거래위원회 고시)에 따라 배상합니다.</h5><br /></li>
                            <li>
                                <h5>② 당사 또는 여행자는 여행출발 전에 다음 각 호의 1에 해당하는 사유가 있는 경우 상대방에게 제1항의 손해배상액을 지급하지 아니하고 이 여행계약을 해제할 수 있습니다.</h5>

                                <h6 class="indent1">1. 당사가 해제할 수 있는 경우</h6>
                                <p class="indent2">
                                    가. 제13조 제1항 제1호 및 제2호사유의 경우<br />
                                    나. 여행자가 다른 여행자에게 폐를 끼치거나 여행의 원활한 실시에 현저한 지장이 있다고 인정될 때<br />
                                    다. 질병 등 여행자의 신체에 이상이 발생하여 여행에의 참가가 불가능한 경우<br />
                                    라. 여행자가 계약서에 기재된 기일까지 여행요금을 납입하지 아니한 경우<br />
                                </p>
                                <h6 class="indent1">2. 여행자가 해제할 수 있는 경우</h6>
                                <p class="indent2">
                                    가. 제13조 제1항 제1호 및 제2호의 사유가 있는 경우<br />
                                    나. 여행자의 3촌 이내 친족이 사망한 경우<br />
                                    다. 질병 등 여행자의 신체에 이상이 발생하여 여행에의 참가가 불가능한 경우<br />
                                    라. 배우자 또는 직계존비속이 신체이상으로 3일 이상 병원(의원)에 입원하여 여행 출발 전까지 퇴원이 곤란한 경우 그 배우자 또는 보호자 1인<br />
                                    마. 당사의 귀책사유로 계약서 또는 여행일정표(여행설명서)에 기재된 여행일정대로의 여행실시가 불가능해진 경우<br />
                                    바. 제12조제1항의 규정에 의한 여행요금의 증액으로 인하여 여행 계속이 어렵다고 인정될 경우<br />
                                </p>
                                <br />
                            </li>
                            <li>
                                <h5>③ 예약취소 시 취소공제 율은 다음과 같습니다.</h5>

                                <h6 class="indent1">1. 여행사의 귀책사유로 여행사가 취소하는 경우</h6>
                                <p class="indent2">
                                    여행개시 20일전까지 통보 시 : 여행요금의 10% 배상<br />
                                    여행개시 10일전까지 통보 시 : 여행요금의 15% 배상<br />
                                    여행개시 8일전까지 통보 시 : 여행요금의 20% 배상<br />
                                    여행개시 1일전까지 통보 시 : 여행요금의 30% 배상<br />
                                    여행출발 당일 통보 시 : 여행요금의 50% 환불<br />
                                    여행참가자 수의 미달로 여행개시 7일 전까지 : 계약금환금<br />
                                </p>
                                <h6 class="indent1">2. 여행자의 여행계약 해제 요청이 있는 경우</h6>
                                <p class="indent2">
                                    여행출발일 20일전까지 통보 시 : 여행요금의 10% 환불 <br />
                                    여행출발일 10일전까지 통보 시 : 여행요금의 15% 환불<br />
                                    여행출발일 8일전까지 통보 시 : 여행요금의 20% 환불<br />
                                    여행출발일 1일전까지 통보 시 : 여행요금의 30% 환불<br />
                                    여행출발 당일 통보 시 : 여행요금의 50% 환불<br />
                                </p>
                                <br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제16조 (여행출발 후 계약해제)</h4>
                        <br />
                        <ul>
                            <li><h5>① 당사 또는 여행자는 여행출발 후 부득이한 사유가 있는 경우 이 여행계약을 해지할 수 있습니다. 단, 이로 인하여 상대방이 입은 손해를 배상하여야 합니다.</h5><br /></li>
                            <li><h5>② 제1항의 규정에 의하여 계약이 해지된 경우 당사는 여행자가 귀국하는데 필요한 사항을 협조하여야 하며, 이에 필요한 비용으로서 당사의 귀책사유에 의하지 아니한 것은 여행자가 부담합니다. </h5><br /></li>
                        </ul>
                    </li>
                    <li>
                        <h4>제17조 (여행의 시작과 종료)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>
                                    여행의 시작은 탑승수속(선박인 경우 승선수속)을 마친 시점으로 하며, 여행의 종료는 여행자가 입국장 보세구역을 벗어나는 시점으로 합니다. <br />단, 계약내용상 국내이동이 있을 경우에는 최초 출발지에서 이용하는 운송수단의 출발시각과 도착시각으로 합니다.
                                </h5><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제18조 (설명의무)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>
                                    당사는 계약서에 정하여져 있는 중요한 내용 및 그 변경사항을 여행자가 이해할 수 있도록 설명하여야 합니다.
                                </h5><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제19조 (보험가입 등)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>
                                    당사는 이 여행과 관련하여 여행자에게 손해가 발생한 경우 여행자에게 보험금을 지급하기 위한 보험 또는 공제에 가입하거나 영업 보증금을 예치하여야 합니다.
                                </h5><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제20조 (저작권의 귀속 및 이용제한)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>
                                    ① 당사가 작성한 저작물에 대한 저작권 기타 지적재산권은 "당사"에 귀속합니다.
                                </h5><br />
                            </li>
                            <li>
                                <h5>
                                    ② 이용자는 당사를 이용함으로써 얻은 정보 중 당사에게 지적재산권이 귀속된 정보를 당사의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.
                                </h5><br />
                            </li>
                            <li>
                                <h5>
                                    ③ 당사는 약정에 따라 이용자에게 귀속된 저작권을 사용하는 경우 당해 이용자에게 통보하여야 합니다.
                                </h5><br />
                            </li>
                            <li>
                                <h5>
                                    ④ 당사와 상품구매 및 서비스이용 계약을 체결하지 않고 이용자가 당사에 게시된 정보를 사용으로 인한 피해는 전적으로 이용자에게 있습니다.
                                </h5><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제21조 (회원의 게시물 및 저작권)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>
                                    ① 게시물이라 함은 회원이 서비스를 이용하면서 게시한 글, 사진, 각종 파일과 링크 등을 말합니다.
                                </h5><br />
                            </li>
                            <li>
                                <h5>
                                    ② 회원의 게시물에 의한 손해나 기타 문제가 발생하는 경우, 회원은 이에 대한 책임을 지게 되며, 당사는 책임을 지지 않습니다.
                                </h5><br />
                            </li>
                            <li>
                                <h5>
                                    ③ 당사는 다음 각 호에 해당하는 게시물 등을 회원의 사전 동의 없이 임의 게시, 중단, 수정, 삭제, 이동 또는 등록 거부 등의 관련 조치를 할 수 있습니다.
                                </h5>
                                <p class="indent1">
                                    - 다른 회원 또는 제 3자에게 심한 모욕을 주거나 명예를 손상시키는 내용인 경우<br />
                                    - 공공질서 및 미풍양속에 위반되는 내용을 유포하거나 링크시키는 경우<br />
                                    - 불법복제 또는 해킹을 조장하는 내용인 경우<br />
                                    - 제 3자의 저작권을 침해하여 게시중단 요청을 받은 경우<br />
                                    - 영리를 목적으로 하는 광고일 경우<br />
                                    - 범죄와 결부된다고 객관적으로 인정되는 내용일 경우<br />
                                    - 다른 이용자 또는 제 3자의 저작권 등 기타 권리를 침해하는 내용인 경우<br />
                                    - 사적인 정치적 판단이나 종교적 견해의 내용으로 회사가 서비스 성격에 부합하지 않는다고 판단하는 경우<br />
                                    - 당사에서 규정한 게시물 원칙에 어긋나거나, 게시판 성격에 부합하지 않는 경우<br />
                                    - 기타 관계법령에 위배된다고 판단되는 경우<br />
                                </p>
                                <br />
                            </li>
                            <li>
                                <h5>④ 회원이 게시한 게시물의 저작권은 게시한 회원에게 귀속됩니다. 단, 당사는 서비스의 운영, 전시, 전송, 배포, 홍보의 목적으로 회원의 별도 허락 없이 무상으로 저작권법에 규정하는 공정한 관행에 합치되게 회원의 게시물을 사용할 수 있습니다.</h5><br />
                            </li>
                            <li>
                                <h5>⑤ 당사는 전항 이외의 방법으로 회원의 게시물을 이용하고자 하는 경우, 전화, 팩스, 전자우편 등의 방법을 통해 사전에 회원의 동의를 얻어야 합니다.</h5><br />
                            </li>
                            <li>
                                <h5>⑥ 회원이 이용계약 해지를 한 경우 타인에 의해 보관, 담기 등으로 재게 시 되거나 복제된 게시물과, 타인의 게시물과 결합되어 제공되는 게시물, 공용 게시판에 등록된 게시물 등은 삭제되지 않습니다.</h5><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제22조(분쟁해결)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>① 당사는 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치 운영합니다.</h5><br />
                            </li>
                            <li>
                                <h5>② 당사는 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.</h5><br />
                            </li>
                            <li>
                                <h5>③ 당사와 이용자간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시/도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.</h5><br />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>제23조 (기타사항)</h4>
                        <br />
                        <ul>
                            <li>
                                <h5>① 이 계약에 명시되지 아니한 사항 또는 이 계약의 해석에 관하여 다툼이 있는 경우에는 당사 또는 여행자가 합의하여 결정하되, 합의가 이루어지지 아니한 경우에는 관계법령 및 일반관례에 따릅니다.</h5><br />
                            </li>
                            <li>
                                <h5>② 특수지역에의 여행으로서 정당한 사유가 있는 경우에는 이 표준약관의 내용과 달리 정할 수 있습니다.</h5><br />
                            </li>
                        </ul>
                    </li>
                </ol>

            </article>
        </div><!-- .cancel -->
        <div class="cancel cancel3">
            <article>
                <h4>개인정보취급방침</h4>
                <ol>
                    <li>
                        <h5>1. 개인정보 수집 및 이용목적</h5>

                        <p>
                            <ul>
                                <li>
                                    당사는 여행상품의 예약 및 여행관련 서비스 제공 등의 업무처리를 위하여 고객으로부터 최소한의 필수정보를 수집하며, 제공한 모든 개인정보는 별도의 동의가 없는 한 해당목적 이외의 다른 목적으로 사용하지 않습니다.
                                    회사는 수집한 개인정보를 다음의 목적을 위하여 사용합니다.
                                </li>

                                <li>
                                    <h5>A. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산</h5>
                        <p>여행상품 예약, 여행자보험 가입, 항공권/호텔 등의 예약 및 출입국 정보확인, 예약내역의 확인 및 상담, 컨텐츠 제공, 여행서비스 이용 시 회원의 우대, 마일리지 적립 /조회 / 사용 및 이에 관한 안내, 회원카드 발급, 구매 및 요금결제, 물품배송 또는 청구서 등 발송, 본인인증 및 금융서비스 등.</p>
                    </li>

                    <li>
                        <h5>B. 회원관리</h5>
                        <p>회원제 서비스 이용을 위한 본인확인, 개인식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 이용 및 이용횟수 제한, 연령확인, 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 분쟁조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달 등</p>
                    </li>
                    </ul>
                    </p>
                    </li>

                    <li>
                        <h5>2. 개인정보 수집 항목 및 보유 및 이용기간</h5>

                        <p>
                            <ul>
                                <li>A. 회사는 적법한 절차와 법적 기준에 의거하여 고객의 개인정보를 수집하고 있으며, 고객의 서비스이용에 필요한 최소한의 정보만을 수집하고 있습니다. 정보통신망법과 개인정보보호법에 의거하여 수집, 이용을 제한하고 있습니다.</li>
                                <li>B. 회사는 고객의 인권을 침해할 우려가 있는 민감한 개인정보항목(인종, 종교, 사상, 정치적 성향, 건강상태, 성생활정보 등)은 수집하지 않습니다.</li>
                            </ul>
                        </p>
                    </li>


                    <li>
                        <h5>3. 동의를 거부할 권리 및 동의를 거부할 경우의 불이익</h5>

                        <h5><p>개인정보 주체자는 개인정보 수집, 이용에 대한 동의를 거부할 권리가 있습니다. 동의를 거부할 경우 회원가입이 불가함을 알려드립니다.</p></h5>
                    </li>


                    <li>
                        <h5>4. 개인정보의 보관, 이용기간 및 파기</h5>

                        <p>
                            <ul>
                                <li>회사는 이용자의 개인정보를 원칙적으로 고지 및 약정한 기간 동안 보유 및 이용하며 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.</li>
                                <li>
                                    <h5>A. 관련법령 및 회사 방침에 의한 정보보유 사유</h5>
                                    <ul>
                                        <li>① 계약 또는 청약철회 등에 관한 기록</li>
                                        <li>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</li>
                                        <li>보존 기간 : 5년</li>
                                        <li>② 대금결제 및 재화 등의 공급에 관한 기록</li>
                                        <li>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</li>
                                        <li>보존 기간 : 5년</li>
                                        <li>③ 소비자의 불만 또는 분쟁처리에 관한 기록</li>
                                        <li>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률</li>
                                        <li>보존 기간 : 3년</li>
                                        <li>④ 웹사이트 방문기록</li>
                                        <li>보존 이유 : 통신비밀보호법</li>
                                        <li>보존 기간 : 3개월</li>
                                    </ul>
                                </li>
                                <li>
                                    <h5>B. 수집된 개인정보의 보유, 이용기간은 서비스 이용계약체결(회원가입)시부터 서비스이용계약해지(탈퇴신청, 직권탈퇴 포함)입니다.</h5>
                        <p>또한 동의 해지 시 회사는 이용자의 개인정보를 상기 명시한 정보보유 사유에 따라 일정 기간 저장하는 자료를 제외하고는 지체 없이 파기하며 개인정보취급이 제 3자에게 위탁된 경우에는 수탁자에게도 파기하도록 지시합니다.</p>
                    </li>
                    <li>
                        <h5>C. 파기방법</h5>
                        <p>이용자의 개인정보는 수집 및 이용목적이 달성된 후에는 지체 없이 파기됩니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각 등을 통하여 파기하고, 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 파기합니다.</p>
                    </li>
                    </ul>
                    </p>
                    </li>


                    <li>
                        <h5>4.개인정보에 관한 민원서비스</h5>

                        <p>
                            <ul>
                                <li><h5>당사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다..</h5></li>

                                <li>개인정보 관리책임자 성명 : 배현준</li>
                                <li>전화번호 : 070-8856-9307</li>
                                <li>이메일 : hj@ntabi.co.kr</li>

                                <li>
                                    <h5>기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</h5>
                                    <ul>
                                        <li>① 개인정보 침해신고센터 (www.1336.or.kr/국번 없이 118)</li>
                                        <li>② 정보보호 마크인증위원회 (www.eprivacy.or.kr/ 02-580-0533~4)</li>
                                        <li>③ 대 검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/ 02-3480-3600)</li>
                                        <li>④ 경찰청 사이버테러대응센터 (www.ctrc.go.kr/ 02-392-0330)</li>
                                    </ul>
                                </li>
                            </ul>
                        </p>
                    </li>
                </ol>
            </article>
        </div>
    </section>
    <div class="btnArea">
        <a class="reserveBtn">예약하기</a>
    </div>
</div>

<script src="~/Scripts/swiper.min.js"></script>

<script>

    var swiper = new Swiper('div.trvM', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });

    $("#chk_all").on("change", function () {
        if (document.getElementById("chk_all").checked) {
            document.getElementById("termsCancel").checked = true;
            document.getElementById("termsStandard").checked = true;
            document.getElementById("termsPrivacy").checked = true;
        } else {
            document.getElementById("termsCancel").checked = false;
            document.getElementById("termsStandard").checked = false;
            document.getElementById("termsPrivacy").checked = false;
        }
    });

    $("input[type=checkbox].rtEq").on("change", function () {
        var _this = $(this),
            chkd = _this.is(":checked"),
            trv = $("div.trvM table:eq(0)"),
            trvName = trv.find("input[name=trvName]"),
            trvLast = trv.find("input[name=trvName_First]"),
            trvFirst = trv.find("input[name=trvName_Last]"),
            trvGender = trv.find("select[name=trvGender]"),
            trvGB = trv.find("select[name=trvGB]");

        if (chkd) {
            trvName.val("@user_Name");
            trvFirst.val("@user_Name_First");
            trvLast.val("@user_Name_Last");

            var sex = "";

            if ("@user_Gender" == "M") {
                sex = "m";
            } else {
                sex = "f";
            }

            trvGender.val(sex).attr("selected", "selected");
        }
        else {
            trvName.val("");
            trvFirst.val("");
            trvLast.val("");
            trvGender.val("m").attr("selected", "selected");
            trvGB.val("A").attr("selected", "selected");
        }
    });

    $("a.reserveBtn").on("click", function (e) {
        e.stopPropagation();
        e.preventDefault();

        if (!chkValidate()) {
            return;
        }

        $(this).attr("disabled", true);

        var f = document.revForm;

        f.action = "/Products/setRev";
        f.method = "post";
        f.submit();

    });

    function chkValidate() {
        var f = document.revForm,
            revName = f.revName,
            revEmail = f.revEmail,
            revTel1 = f.revTel1,
            revTel2 = f.revTel2,
            revTel3 = f.revTel3,
            trv = $("div.trvM table:eq(0)"),
            trvName = trv.find("input[name=trvName]"),
            trvFirst = trv.find("input[name=trvName_First]"),
            trvLast = trv.find("input[name=trvName_Last]");

        if (revName.value == "") {
            alert("예약자 이름을 꼭 넣어주세요.");
            revName.focus();
            return false;
        }
        else if (revEmail.value == "") {
            alert("예약자 메일을 꼭 넣어주세요.");
            revEmail.focus();
            return false;
        }
        else if (revTel1.value == "") {
            alert("예약자 전화번호를 꼭 넣어주세요.");
            revTel1.focus();
            return false;
        }
        else if (revTel2.value == "") {
            alert("예약자 전화번호를 꼭 넣어주세요.");
            revTel2.focus();
            return false;
        }
        else if (revTel3.value == "") {
            alert("예약자 전화번호를 꼭 넣어주세요.");
            revTel3.focus();
            return false;
        }
        else if (trvName.val() == "") {
            alert("대표 여행자 이름은 꼭 넣어주세요.");
            trvName.focus();
            return false;
        }
        else if (trvFirst.val() == "") {
            alert("대표 여행자 영문 성은 꼭 넣어주세요.");
            trvFirst.focus();
            return false;
        }
        else if (trvLast.val() == "") {
            alert("대표 여행자 영문 명은 꼭 넣어주세요.");
            trvLast.focus();
            return false;
        }

        if ($("input[name=termsCancel]").is(":checked") == false) {
            alert("취소수수료 특약에 동의해주세요.");
            $("input[name=termsCancel]").focus();
            return false;
        }

        if ($("input[name=termsStandard]").is(":checked") == false) {
            alert("국외 여행 표준약관에 동의해주세요.");
            $("input[name=termsStandard]").focus();
            return false;
        }

        if ($("input[name=termsPrivacy]").is(":checked") == false) {
            alert("취소수수료 특약에 동의해주세요.");
            $("input[name=termsPrivacy]").focus();
            return false;
        }

        return true;
    }
</script>