@using mNtabi.Models;
@using System.Text.RegularExpressions;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = Session["user"] as User;

    var type = Request["type"];
    var key = Request["key"];

    if (string.IsNullOrEmpty(type))
    {
        type = "notice";
    }

    string title = "",
           ist_date = "",
           author = "",
           className = "",
           category = "",
           catText = "",
           starPoint = "",
           pdt_title = "",
           post_key = "",
           content = "",
           DptCode = "",
           RtnCode = "",
           TripNation = "",
           TripArea = "",
           DptDate = "",
           Keyword = "",
           ForTrip = "",
           TransferCode = "",
           ReqQuotation = "",
           TempCol01 = "",
           TempCol02 = "",
           AdultCount = "",
           ChildCount = "",
           BabyCount = "",
           TripPeriod = "",
           TripBudget = "";

    int count = 0,
        pageNum = 1,
        maxPage = 1,
        boardNum = 0;

    try { count = ViewBag.Cnt; }
    catch { }
    try { pageNum = ViewBag.pageNum; }
    catch { }

    decimal a = count / 10;

    maxPage = count / 10;

    boardNum = count - ((pageNum - 1) * 10);


    foreach (object item in Model)
    {
        title = "";
        ist_date = "";
        author = "";
        category = "";
        catText = "";
        starPoint = "";
        pdt_title = "";
        post_key = "";
        content = "";
        DptCode = "";
        RtnCode = "";
        TripNation = "";
        TripArea = "";
        DptDate = "";
        Keyword = "";
        ForTrip = "";
        TransferCode = "";
        ReqQuotation = "";
        TempCol01 = "";
        TempCol02 = "";
        AdultCount = "";
        ChildCount = "";
        BabyCount = "";
        TripPeriod = "";
        TripBudget = "";

        object aaaaa;

        try { post_key = item.GetType().GetProperties()[1].GetValue(item, null).ToString(); }
        catch { }
        try { title = item.GetType().GetProperties()[2].GetValue(item, null).ToString(); }
        catch { }
        try { ist_date = item.GetType().GetProperties()[3].GetValue(item, null).ToString(); }
        catch { }
        try { author = item.GetType().GetProperties()[5].GetValue(item, null).ToString(); }
        catch { }
        try { starPoint = item.GetType().GetProperties()[9].GetValue(item, null).ToString(); }
        catch { }
        try { category = item.GetType().GetProperties()[10].GetValue(item, null).ToString(); }
        catch { }
        try { pdt_title = item.GetType().GetProperties()[16].GetValue(item, null).ToString(); }
        catch { }
        try { content = item.GetType().GetProperties()[17].GetValue(item, null).ToString(); }
        catch { }

        try { DptCode = item.GetType().GetProperties()[19].GetValue(item, null).ToString(); }
        catch { }
        try { RtnCode = item.GetType().GetProperties()[20].GetValue(item, null).ToString(); }
        catch { }
        try { TripNation = item.GetType().GetProperties()[21].GetValue(item, null).ToString(); }
        catch { }
        try { TripArea = item.GetType().GetProperties()[22].GetValue(item, null).ToString(); }
        catch { }
        try { DptDate = item.GetType().GetProperties()[23].GetValue(item, null).ToString(); }
        catch { }
        try { Keyword = item.GetType().GetProperties()[24].GetValue(item, null).ToString(); }
        catch { }
        try { ForTrip = item.GetType().GetProperties()[25].GetValue(item, null).ToString(); }
        catch { }
        try { TransferCode = item.GetType().GetProperties()[26].GetValue(item, null).ToString(); }
        catch { }
        try { ReqQuotation = item.GetType().GetProperties()[27].GetValue(item, null).ToString(); }
        catch { }
        try { TempCol01 = item.GetType().GetProperties()[28].GetValue(item, null).ToString(); }
        catch { }
        try { TempCol02 = item.GetType().GetProperties()[29].GetValue(item, null).ToString(); }
        catch { }
        try { AdultCount = item.GetType().GetProperties()[30].GetValue(item, null).ToString(); }
        catch { }
        try { ChildCount = item.GetType().GetProperties()[31].GetValue(item, null).ToString(); }
        catch { }
        try { BabyCount = item.GetType().GetProperties()[32].GetValue(item, null).ToString(); }
        catch { }
        try { TripPeriod = item.GetType().GetProperties()[33].GetValue(item, null).ToString(); }
        catch { }
        try { TripBudget = item.GetType().GetProperties()[34].GetValue(item, null).ToString(); }
        catch { }
        //try { content = item.GetType().GetProperties()[33].GetValue(item, null).ToString(); } catch { }
        //try { content = item.GetType().GetProperties()[34].GetValue(item, null).ToString(); } catch { }

        aaaaa = item.GetType().GetProperties()[18].GetValue(item, null);

        switch (DptCode)
        {
            case "PUS":
                DptCode = "부산";
                break;
            case "SEO":
                DptCode = "서울";
                break;
            case "DAE":
                DptCode = "대구";
                break;
            case "ETC":
            default:
                DptCode = "기타";
                break;
        }

        switch (RtnCode)
        {
            case "JP":
                RtnCode = "부산";
                break;
            case "HK":
                RtnCode = "대만";
                break;
            case "TW":
                RtnCode = "대만";
                break;
            case "VE":
                RtnCode = "베트남";
                break;
            case "PH":
                RtnCode = "필리핀";
                break;
            case "AM":
                RtnCode = "미주";
                break;
            case "5P":
                RtnCode = "괌/사이판";
                break;
            case "RU":
                RtnCode = "러시아";
                break;
            default:
                RtnCode = "기타";
                break;
        }

        switch (TransferCode)
        {
            case "SHP":
                TransferCode = "선박";
                break;
            case "AIR":
                TransferCode = "항공";
                break;
            case "BUS":
            default:
                TransferCode = "버스투어";
                break;
        }


        switch (category)
        {
            case "notice":
                catText = "<공지사항>
    ";
    break;
    case "air":
    catText = "<항공>
        ";
        break;
        case "ship":
        catText = "<선박>
            ";
            break;
            case "event":
            catText = "<특가/이벤트>";
            break;
            case "local":
            catText = "<현지소식>
                ";
                break;

                case "JP":
                catText = "일본";
                break;
                case "TW":
                catText = "대만";
                break;
                case "VE":
                catText = "베트남";
                break;
                case "PH":
                catText = "필리핀";
                break;
                case "HAW":
                catText = "하와이";
                break;
                case "GSA":
                catText = "괌/사이판";
                break;

                case "AIR":
                catText = "항공";
                break;
                case "SHP":
                catText = "선박";
                break;
                case "PAC":
                catText = "패키지";
                break;
                case "LOC":
                catText = "현지투어";
                break;
                default:
                catText = "기타";
                break;

                }

                switch (starPoint)
                {
                case "5":
                starPoint = "★★★★★";
                break;
                case "4":
                starPoint = "★★★★";
                break;
                case "3":
                starPoint = "★★★";
                break;
                case "2":
                starPoint = "★★";
                break;
                case "1":
                starPoint = "★";
                break;
                }

                <style>
                    div#container > article > section.board {
                        position: relative;
                        padding-top: 10px;
                    }

                    section.board > h3 {
                        font-size: 14px;
                        color: #2a2a2a;
                        letter-spacing: -0.8px;
                    }

                    section.board > div.titBar {
                        line-height: 42px;
                        padding: 5px 20px;
                        text-align: center;
                        margin-top: 20px;
                        font-size: 15px;
                        font-weight: bold;
                        border-bottom: 1px solid #ddd;
                    }

                        section.board > div.titBar > span {
                            float: right;
                            font-weight: normal;
                        }

                            section.board > div.titBar > span:first-child {
                                float: left;
                            }

                    div#container > article > section.board div.selectInfo {
                        border-bottom: 1px solid #ddd;
                    }

                        div#container > article > section.board div.selectInfo:after {
                            content: "";
                            display: block;
                            clear: both;
                        }

                        div#container > article > section.board div.selectInfo div.box01 {
                            float: left;
                            width: 60%;
                        }

                            div#container > article > section.board div.selectInfo div.box01 > ul {
                                height: 25px;
                                margin: 0;
                                padding: 0;
                            }

                                div#container > article > section.board div.selectInfo div.box01 > ul > li {
                                    float: left;
                                    width: 33.33%;
                                    text-align: center;
                                }

                                    div#container > article > section.board div.selectInfo div.box01 > ul > li p {
                                        margin: 0;
                                        line-height: 25px;
                                    }

                                        div#container > article > section.board div.selectInfo div.box01 > ul > li p.selecttit {
                                            float: left;
                                            width: 35%;
                                            background-color: #f8f8f8;
                                        }

                                        div#container > article > section.board div.selectInfo div.box01 > ul > li p.select {
                                            float: right;
                                            width: 65%;
                                        }

                        div#container > article > section.board div.selectInfo div.box02 {
                            float: left;
                            width: 28%;
                        }

                            div#container > article > section.board div.selectInfo div.box02 > ul {
                                height: 25px;
                                margin: 0;
                                padding: 0;
                            }

                                div#container > article > section.board div.selectInfo div.box02 > ul > li {
                                    float: left;
                                    width: 33.33%;
                                    text-align: center;
                                }

                                    div#container > article > section.board div.selectInfo div.box02 > ul > li p {
                                        margin: 0;
                                        line-height: 25px;
                                    }

                                        div#container > article > section.board div.selectInfo div.box02 > ul > li p.selecttit {
                                            float: left;
                                            width: 45%;
                                            background-color: #f8f8f8;
                                        }

                                        div#container > article > section.board div.selectInfo div.box02 > ul > li p.select {
                                            float: right;
                                            width: 55%;
                                        }

                        div#container > article > section.board div.selectInfo p.selectdate {
                            float: right;
                            margin: 0;
                            padding: 0 20px;
                            line-height: 25px;
                            background-color: #f8f8f8;
                        }

                    section.board > div.content {
                        padding: 20px 10px;
                    }

                        section.board > div.content img {
                            max-width: 100%;
                        }

                    section.board table.listsBody {
                        width: 100%;
                        margin-top: 50px;
                    }

                        section.board table.listsBody > thead {
                            background-color: #f2f8e9;
                        }

                            section.board table.listsBody > thead > tr {
                                line-height: 42px;
                            }

                                section.board table.listsBody > thead > tr > th {
                                    text-align: center;
                                    font-size: 15px;
                                    color: #424242;
                                    width: 10%;
                                }

                        section.board table.listsBody > tbody > tr {
                            line-height: 40px;
                            text-align: center;
                            font-size: 15px;
                            color: #2a2a2a;
                        }

                            section.board table.listsBody > tbody > tr td.title {
                                text-align: left;
                            }

                                section.board table.listsBody > tbody > tr td.title > a {
                                    display: block;
                                }

                                    section.board table.listsBody > tbody > tr td.title > a > h4 {
                                        font-size: 15px;
                                        font-weight: normal;
                                    }

                                        section.board table.listsBody > tbody > tr td.title > a > h4 > span.notice {
                                            color: red;
                                        }

                                        section.board table.listsBody > tbody > tr td.title > a > h4 > span.air {
                                            color: #2077c9;
                                        }

                                        section.board table.listsBody > tbody > tr td.title > a > h4 > span.ship {
                                            color: #69b265;
                                        }

                                        section.board table.listsBody > tbody > tr td.title > a > h4 > span.event {
                                            color: #8e71fb; /*#df4718;*/
                                        }

                                        section.board table.listsBody > tbody > tr td.title > a > h4 > span.local {
                                            color: #ffa019;
                                        }

                    section.board div.paging {
                        height: 180px;
                        text-align: center;
                        background-color: #fcfefa;
                        position: relative;
                    }

                        section.board div.paging > ul {
                            line-height: 180px;
                        }

                            section.board div.paging > ul > li {
                                display: inline-block;
                                padding: 5px 10px;
                            }

                                section.board div.paging > ul > li > a {
                                    font-size: 13px;
                                    color: #9f9f9f;
                                }

                                section.board div.paging > ul > li.on > a {
                                    color: black;
                                }

                        section.board div.paging > p {
                            position: absolute;
                            right: 20px;
                            bottom: 10px;
                            font-size: 12px;
                            color: #5c5c5c;
                        }

                    section.board div.reply {
                        position: relative;
                        margin-top: 20px;
                        padding: 2% 9%;
                        padding-bottom: 0;
                        border-top: 1px solid #999;
                    }

                        section.board div.reply > h2 {
                            font-size: 15px;
                            font-weight: normal;
                            margin-bottom: 20px;
                        }

                        section.board div.reply div.comment {
                            /*background-color: #eee;*/
                            padding: 20px;
                            padding-bottom: 0;
                        }

                            section.board div.reply div.comment textarea.rContent {
                                width: 830px;
                                padding: 10px;
                                line-height: 25px;
                                height: 72px;
                            }

                            section.board div.reply div.comment a.reply_add_btn {
                                width: 105px;
                                height: 72px;
                                display: inline-block;
                                float: right;
                                line-height: 72px;
                                text-align: center;
                                background-color: #a0ce54 !important;
                                color: white;
                                font-size: 16px;
                                border-radius: 5px;
                                color: white;
                            }

                        section.board div.reply a.list {
                            position: absolute;
                            top: 20px;
                            right: 10px;
                            display: block;
                            width: 45px;
                            height: 25px;
                            border-radius: 5px;
                            ;
                            font-size: 13px;
                            text-align: center;
                            line-height: 25px;
                            color: #333;
                            background-color: #e7f1d7 !important;
                            z-index: 100;
                        }
                </style>

                <section class="board">
                    <h3>고객센터</h3>

                    <div class="titBar">
                        <span>
                            @{
                            string outText = "";

                            switch (type)
                            {
                            case "qna":
                            outText = catText;
                            break;
                            }

                            @outText
                            }
                        </span>
                        @if (type == "notice")
                        {
                        @catText
                        }
                        @title
                        <span>@author | @ist_date</span>
                    </div>

                    @if (type == "customer")
                    {
                    <div class="selectInfo">
                        <div class="box01">
                            <ul>
                                <li>
                                    <p class="selecttit">출발지</p>
                                    <p class="select">@DptCode</p>
                                </li>
                                <li>
                                    <p class="selecttit">목적지</p>
                                    <p class="select">@RtnCode</p>
                                </li>
                                <li>
                                    <p class="selecttit">이용편</p>
                                    <p class="select">@TransferCode</p>
                                </li>
                            </ul>
                        </div> <!--.box01-->
                        <div class="box02">
                            <ul>
                                <li>
                                    <p class="selecttit">성인</p>
                                    <p class="select">@AdultCount 명</p>
                                </li>
                                <li>
                                    <p class="selecttit">소아</p>
                                    <p class="select">@ChildCount 명</p>
                                </li>
                                <li>
                                    <p class="selecttit">유아</p>
                                    <p class="select">@BabyCount 명</p>
                                </li>
                            </ul>
                        </div> <!--.box02-->
                        <p class="selectdate">@DptDate</p>
                    </div> <!--.selectInfo-->
                    }
                    @*
                    else if (type == "qna")
                    {
                    <div class="selectInfo">
                        <p class="selecttit">분류</p>
                        <p class="select">@catText</p>
                    </div> <!--.selectInfo-->
                    }
                    *@
                    <div class="content">
                        @MvcHtmlString.Create(content)
                    </div>

                    <div class="reply">
                        @*<h2>
                            @{
                            int rcnt = 0;
                            var cnt = aaaaa as List<review>
                                ;
                                if (cnt[0].CU_SEQ != 0)
                                {
                                rcnt = cnt.Count;
                                }
                                }
                                댓글 @(rcnt > 0 ? rcnt.ToString() : "없음")
                        </h2>*@

                        <div class="comment">
                            <textarea class="rContent"></textarea>
                            <a class="reply_add_btn">등록</a>
                        </div>

                        <ul style="padding: 0; margin: 0; list-style: none;">

                            @{
                            string rid = "",
                            rcont = "",
                            rdate = "",
                            rname = "",
                            rcat = "";

                            foreach (object ab in aaaaa as List
                            <review>
                                )
                                {
                                rid = "";
                                rcont = "";
                                rdate = "";
                                rname = "";
                                rcat = "";

                                try { rid = ab.GetType().GetProperties()[0].GetValue(ab, null).ToString(); }
                                catch { break; }
                                try { rname = ab.GetType().GetProperties()[3].GetValue(ab, null).ToString(); }
                                catch { break; }
                                try { rcont = ab.GetType().GetProperties()[4].GetValue(ab, null).ToString(); }
                                catch { break; }
                                try { rdate = ab.GetType().GetProperties()[6].GetValue(ab, null).ToString(); }
                                catch { break; }
                                try { rcat = ab.GetType().GetProperties()[7].GetValue(ab, null).ToString(); }
                                catch { }


                                if (rid == "0")
                                {
                                break;
                                }

                                <li style="padding: 20px; border-bottom: 1px solid #e1e1e1; font-size: 14px;">
                                    <div style="line-height: 35px; text-align: right;">
                                        <span style="margin-right: 20px; float: left;">@rname</span>@rdate

                                    </div>
                                    <p style="line-height: 22px; margin: 0;">
                                        <span>@rcat</span>
                                        @{
                                        string rrcont = rcont;

                                        try { rrcont = Regex.Replace(rrcont, @"\r\n|\n|\r", "<br />"); }
                                        catch { }

                                        @MvcHtmlString.Create(rrcont)
                                        }
                                    </p>
                                </li>
                                }
                                }
                        </ul>

                        <a href="./Lists?type=@type" class="list">
                            목록
                        </a>
                    </div>
                </section>

                }
                }


                <script>
                    $(document).ready(function () {
                        $("div.comment a.reply_add_btn").on("click", function () {
                            var url = window.location.pathname + window.location.search;
                            url = encodeURIComponent(url);

                            if ("@user" == "") {
                                alert("로그인을 하셔야 댓글을 등록할 수 있습니다.");
                                $('a.loginBtn').click();
                                return;
                            }

                            var _this = $(this),
                                type = "@type",
                                key = "@key",
                                cont = _this.parents("div.comment").find("textarea");

                            var url = "/Event/JSON_Update";
                            var datas = { type: type, key: key, content: cont.val() };

                            if (cont.val() == "") {
                                alert("내용을 입력해 주세요.");
                                return;
                            }

                            $.ajax({
                                type: "POST",
                                url: url,
                                data: datas,
                                success: function (data) {
                                    var cmdHtml = "";

                                    cmdHtml = "<li style='padding: 20px; border-bottom: 1px solid #e1e1e1; font-size: 14px;'>" +
                                        "<div style='line-height: 35px; text-align: right;'>" +
                                        "<span style='margin-right: 20px; float: left;'>" +
                                        data.name +
                                        "</span>" +
                                        data.ist_date.substring(0, 4) + "-" + data.ist_date.substring(4, 6) + "-" + data.ist_date.substring(6, 8) +
                                        "</div>" +
                                        "<p style='line-height: 22px; margin: 0;'>" +
                                        data.post_content +
                                        "</p>" +
                                        "</div>";

                                    $("div.reply ul").append(cmdHtml);
                                    cont.val("");
                                }
                                , beforeSend: function () {
                                    $('#loading').show();
                                }
                                , complete: function () {
                                    $('#loading').hide();
                                }
                            });
                        });
                    });
                </script>
