@using NCompany.Models;
@using System.Text.RegularExpressions;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string type = "",
           key = "",
           title = "",
           date = "",
           user = "",
           state = "",
           content = "",
           point = "",
           imgPath = "",
           corp = "";

    string out0 = "",
           out1 = "",
           out2 = "",
           out3 = "",
           out4 = "",
           out5 = "",
           out6 = "",
           out7 = "",
           out8 = "",
           out9 = "";

    int index = 0;
}

<style>
    section.review div.Lists > ul > li
    {
        position: relative;
    }

    section.review div.board-header
    {
        max-width: 200px;
        position: relative;
    }

    section.review div.board-header img
    {
        width: 100%;
    }

    section.review div.board-header span
    {
        position: absolute;
        top: 45px;
        left: 0px;
        right: 0px;
        font-size: 40px;
        color: gold;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(-35deg);
        text-align: center;
    }
    
    section.review div.board-body
    {
        float: right;
        max-width: 480px;
        position: absolute;
        right: 0;
        top: 0;
        left: 220px;
        height: 170px;
        overflow: auto;
    }
    
    section.review div.board-body > h4
    {
        border-bottom: 1px solid;
        padding-bottom: 10px;
        margin: 0;
        line-height: 24px;    
        margin-top: 10px;
    }
    
    section.review div.board-footer
    {
        clear: both;
    }

    ul.comment > li
    {
        font-size: 14px;
        overflow: hidden;
        border-top: 2px dashed #ddd;
        margin-top: 10px;
        padding: 20px 20px 10px 50px;
    }
</style>

<section class="review row community">
    <article class="col-md-8">
        <h4>상품 후기</h4>
        <div class="Lists">
            <ul>
                @{
                    foreach (object item in Model)
                    {
                        type = "";
                        key = "";
                        title = "";
                        date = "";
                        user = "";
                        state = "";
                        content = "";
                        point = "";
                        imgPath = "";
                        corp = "";

                        try { type = item.GetType().GetProperties()[0].GetValue(item, null).ToString(); }
                        catch { continue; }
                        try { key = item.GetType().GetProperties()[1].GetValue(item, null).ToString(); }
                        catch { continue; }
                        try { title = item.GetType().GetProperties()[2].GetValue(item, null).ToString(); }
                        catch { continue; }
                        try { date = item.GetType().GetProperties()[3].GetValue(item, null).ToString(); }
                        catch { continue; }
                        try { state = item.GetType().GetProperties()[4].GetValue(item, null).ToString(); }
                        catch { continue; }
                        try { user = item.GetType().GetProperties()[5].GetValue(item, null).ToString(); }
                        catch { continue; }
                        try { content = item.GetType().GetProperties()[6].GetValue(item, null).ToString(); }
                        catch { continue; }
                        try { point = item.GetType().GetProperties()[8].GetValue(item, null).ToString(); }
                        catch { continue; }
                        try { imgPath = item.GetType().GetProperties()[9].GetValue(item, null).ToString(); }
                        catch { continue; }
                        try { corp = item.GetType().GetProperties()[10].GetValue(item, null).ToString(); }
                        catch { continue; }

                        switch (point)
                        {
                            case "5":
                                point = "★★★★★";
                                break;
                            case "4":
                                point = "★★★★";
                                break;
                            case "3":
                                point = "★★★";
                                break;
                            case "2":
                                point = "★★";
                                break;
                            case "1":
                                point = "★";
                                break;
                        }

                        <li data-key="@key" data-corp="@corp">
                            <div class="board-header">
                                <a href="#" data-toggle="popup" data-target="Write" data-type="review" data-key="@key">
                                    <img src="@imgPath" alt="대표이미지" />
                                    <span>@point</span>
                                </a>
                            </div>
                            <div class="board-body">
                                <span class="pull-right">고객 명 : @user</span>
                                <span>@date</span>
                                <h4>@title</h4>
                                <p>
                                    @{
                        string cont = content;

                        try
                        {
                            cont = Regex.Replace(cont, @"\r\n|\n|\r", "<br/>");
                        }
                        catch { }

                        @MvcHtmlString.Create(cont)
                                    }
                                </p>
                            </div>


                            <ul class="comment">
                                @{
                        try
                        {
                            var aa = item.GetType().GetProperties()[7].GetValue(item, null);

                            string rid = "",
                                   rcont = "",
                                   rdate = "",
                                   rname = "";

                            foreach (object ab in aa as List<review>)
                            {
                                rid = "";
                                rcont = "";
                                rdate = "";
                                rname = "";

                                try { rid = ab.GetType().GetProperties()[0].GetValue(ab, null).ToString(); }
                                catch { }
                                try { rcont = ab.GetType().GetProperties()[4].GetValue(ab, null).ToString(); }
                                catch { }
                                try { rdate = ab.GetType().GetProperties()[6].GetValue(ab, null).ToString(); }
                                catch { }
                                try { rname = ab.GetType().GetProperties()[3].GetValue(ab, null).ToString(); }
                                catch { }

                                if (rcont == "")
                                {
                                    continue;
                                }

                                <li data-key="@rid">
                                    @{
                                cont = rcont;

                                try
                                {
                                    cont = Regex.Replace(cont, @"\r\n|\n|\r", "<br/>");
                                }
                                catch { }

                                @MvcHtmlString.Create(cont)
                                    }

                                    <span class="pull-right">@rname | @rdate</span>
                                </li>

                            }


                        }
                        catch { }
                                }
                                @*
                                    <li>
                                        안녕하세요. 북해도 버스투어 담당자 입니다~
                                        9월2일은 현재 26명 모객이 되어있으며, 대형버스로 출발할 예정입니다.
                                        중식은 비에이역 또는 후라노역에서 예정되어있으며, 추천 식당 중 원하시는 곳에서 드실 수 있습니다.
                                        교통상황에 따라 점심식사 지역이 당일에 지정되므로 양해부탁드립니다. 감사합니다.
                                        <span>정원정 | 2017-08-23</span>
                                    </li>
                                *@
                            </ul>
                            <div class="board-footer">
                                <textarea placeholder="답변을 입력해주세요"></textarea>
                                <a class="btn btn-default cmdBtn">등록</a>
                            </div>
                        </li>

                    }
                }

                @*<li>
                    <div class="board-header">
                        <img src="http://admin.ntabi.kr/mobile/thumb/20170828025423_fff.jpg" alt="대표이미지" />
                        <span>★★★★★</span>
                    </div>
                    <div class="board-body">
                        <span class="pull-right">고객 명 : 배 현 준</span>
                        <span>2017-08-22</span>
                        <h4>[KYUSHU] 우미타마고 수족관+타카사키야마+아프리칸 사파리 1일 버스투어</h4>
                        <p>
                            10월 16일에 가족 2명과 함께 가는데 카드결제를 하고 싶어서 문의글 남깁니다^^;
                            79,000원과 158,000원 2건에 대한 카드결제를 하고 싶습니다.(무이자 가능한지요?)
                            그리고 같이 앉을 수 있는 건지도 같이 문의드립니다'ㅁ'
                        </p>
                    </div>
                    <div class="board-footer">
                        <textarea placeholder="답변을 입력해주세요"></textarea>
                        <a class="btn btn-default cmdBtn">등록</a>
                    </div>
                </li>

                <li>
                    <div class="board-header">
                        <img src="http://admin.ntabi.kr/mobile/thumb/20170828025423_fff.jpg" alt="대표이미지" />
                        <span>★★</span>
                    </div>
                    <div class="board-body">
                        <span class="pull-right">고객 명 : 배 현 준</span>
                        <span>2017-08-22</span>
                        <h4>[KYUSHU] 우미타마고 수족관+타카사키야마+아프리칸 사파리 1일 버스투어</h4>
                        <p>
                            10월 16일에 가족 2명과 함께 가는데 카드결제를 하고 싶어서 문의글 남깁니다^^;
                            79,000원과 158,000원 2건에 대한 카드결제를 하고 싶습니다.(무이자 가능한지요?)
                            그리고 같이 앉을 수 있는 건지도 같이 문의드립니다'ㅁ'
                        </p>
                    </div>
                    <div class="board-footer">
                        <textarea placeholder="답변을 입력해주세요"></textarea>
                        <a class="btn btn-default cmdBtn">등록</a>
                    </div>
                </li>

                <li>
                    <div class="board-header">
                        <img src="http://admin.ntabi.kr/mobile/thumb/20170828025423_fff.jpg" alt="대표이미지" />
                        <span>★★★</span>
                    </div>
                    <div class="board-body">
                        <span class="pull-right">고객 명 : 배 현 준</span>
                        <span>2017-08-22</span>
                        <h4>[KYUSHU] 우미타마고 수족관+타카사키야마+아프리칸 사파리 1일 버스투어</h4>
                        <p>
                            10월 16일에 가족 2명과 함께 가는데 카드결제를 하고 싶어서 문의글 남깁니다^^;
                            79,000원과 158,000원 2건에 대한 카드결제를 하고 싶습니다.(무이자 가능한지요?)
                            그리고 같이 앉을 수 있는 건지도 같이 문의드립니다'ㅁ'
                        </p>
                    </div>
                    <div class="board-footer">
                        <textarea placeholder="답변을 입력해주세요"></textarea>
                        <a class="btn btn-default cmdBtn">등록</a>
                    </div>
                </li>

                <li>
                    <div class="board-header">
                        <img src="http://admin.ntabi.kr/mobile/thumb/20170828025423_fff.jpg" alt="대표이미지" />
                        <span>★</span>
                    </div>
                    <div class="board-body">
                        <span class="pull-right">고객 명 : 배 현 준</span>
                        <span>2017-08-22</span>
                        <h4>[KYUSHU] 우미타마고 수족관+타카사키야마+아프리칸 사파리 1일 버스투어</h4>
                        <p>
                            10월 16일에 가족 2명과 함께 가는데 카드결제를 하고 싶어서 문의글 남깁니다^^;
                            79,000원과 158,000원 2건에 대한 카드결제를 하고 싶습니다.(무이자 가능한지요?)
                            그리고 같이 앉을 수 있는 건지도 같이 문의드립니다'ㅁ'
                        </p>
                    </div>
                    <div class="board-footer">
                        <textarea placeholder="답변을 입력해주세요"></textarea>
                        <a class="btn btn-default cmdBtn">등록</a>
                    </div>
                </li>

                <li>
                    <div class="board-header">
                        <img src="http://admin.ntabi.kr/mobile/thumb/20170828025423_fff.jpg" alt="대표이미지" />
                        <span>★★★★</span>
                    </div>
                    <div class="board-body">
                        <span class="pull-right">고객 명 : 배 현 준</span>
                        <span>2017-08-22</span>
                        <h4>[KYUSHU] 우미타마고 수족관+타카사키야마+아프리칸 사파리 1일 버스투어</h4>
                        <p>
                            10월 16일에 가족 2명과 함께 가는데 카드결제를 하고 싶어서 문의글 남깁니다^^;
                            79,000원과 158,000원 2건에 대한 카드결제를 하고 싶습니다.(무이자 가능한지요?)
                            그리고 같이 앉을 수 있는 건지도 같이 문의드립니다'ㅁ'
                        </p>
                    </div>
                    <div class="board-footer">
                        <textarea placeholder="답변을 입력해주세요"></textarea>
                        <a class="btn btn-default cmdBtn">등록</a>
                    </div>
                </li>*@

            </ul>
        </div>

    </article>
    <div class="col-md-4">

        <article>
            <a href="/community/notice" class="btn btn-default pull-right">자세히 보기</a>
            <h4>자유게시판</h4>

            <ul class="table-header">
                <li style="width: 80%">제목</li>
                <li style="width: 20%">날짜</li>
            </ul>

            <ul class="table-body">
                @{
                    index = 0;

                    foreach (object item in ViewBag.notice)
                    {
                        out0 = "";
                        out1 = "";
                        out2 = "";
                        out3 = "";
                        out4 = "";
                        out5 = "";
                        out6 = "";
                        out7 = "";
                        out8 = "";
                        out9 = "";

                        try { out0 = item.GetType().GetProperties()[0].GetValue(item, null).ToString(); }
                        catch { continue; }
                        try { out1 = item.GetType().GetProperties()[1].GetValue(item, null).ToString(); }
                        catch { continue; }

                        index++;

                        out1 = Html.Action("convertDate8To10", new { date = out1 }).ToString();

                        <li>
                            <ul>
                                <li style="width: 80%;">@out0</li>
                                <li style="width: 20%;">@out1</li>
                            </ul>
                        </li>
                    }

                    if (index < 1)
                    {
                        <li style="height: 100%; border: 1px solid #ccc;">
                            <p style="margin-top: 100px;">
                                질문 글이 없습니다.
                            </p>
                        </li>

                    }
                }

                @*<li>
                    <ul>
                        <li style="width: 80%">[HOKKAIDO] 비에이/후라노 코스 1일 현지투어</li>
                        <li style="width: 20%">2017-08-22</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li style="width: 80%">[HOKKAIDO] 비에이/후라노 코스 1일 현지투어</li>
                        <li style="width: 20%">2017-08-22</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li style="width: 80%">[HOKKAIDO] 비에이/후라노 코스 1일 현지투어</li>
                        <li style="width: 20%">2017-08-22</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li style="width: 80%">[HOKKAIDO] 비에이/후라노 코스 1일 현지투어</li>
                        <li style="width: 20%">2017-08-22</li>
                    </ul>
                </li>*@
            </ul>
        </article>

        <article>
            <a href="/community/qna" class="btn btn-default pull-right">자세히 보기</a>
            <h4>질문과 답변</h4>

            <ul class="table-header">
                <li style="width: 80%">제목</li>
                <li style="width: 20%">날짜</li>
            </ul>

            <ul class="table-body">
                @{
                    index = 0;

                    foreach (object item in ViewBag.qna)
                    {
                        out0 = "";
                        out1 = "";
                        out2 = "";
                        out3 = "";
                        out4 = "";
                        out5 = "";
                        out6 = "";
                        out7 = "";
                        out8 = "";
                        out9 = "";

                        try { out0 = item.GetType().GetProperties()[0].GetValue(item, null).ToString(); }
                        catch { continue; }
                        try { out1 = item.GetType().GetProperties()[1].GetValue(item, null).ToString(); }
                        catch { continue; }

                        index++;

                        out1 = Html.Action("convertDate8To10", new { date = out1 }).ToString();

                        <li>
                            <ul>
                                <li style="width: 80%;">@out0</li>
                                <li style="width: 20%;">@out1</li>
                            </ul>
                        </li>
                    }

                    if (index < 1)
                    {
                        <li style="height: 100%; border: 1px solid #ccc;">
                            <p style="margin-top: 100px;">
                                질문 글이 없습니다.
                            </p>
                        </li>

                    }
                }
                @*<li>
                    <ul>
                        <li style="width: 80%">[HOKKAIDO] 비에이/후라노 코스 1일 현지투어</li>
                        <li style="width: 20%">2017-08-22</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li style="width: 80%">[HOKKAIDO] 비에이/후라노 코스 1일 현지투어</li>
                        <li style="width: 20%">2017-08-22</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li style="width: 80%">[HOKKAIDO] 비에이/후라노 코스 1일 현지투어</li>
                        <li style="width: 20%">2017-08-22</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li style="width: 80%">[HOKKAIDO] 비에이/후라노 코스 1일 현지투어</li>
                        <li style="width: 20%">2017-08-22</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li style="width: 80%">[HOKKAIDO] 비에이/후라노 코스 1일 현지투어</li>
                        <li style="width: 20%">2017-08-22</li>
                    </ul>
                </li>*@
            </ul>
        </article>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('[data-toggle="popup"]').on("click", function (e) {
            e.preventDefault();

            var _this = $(this),
                rUrl = "@Request.Url.PathAndQuery",
                target = _this.attr('data-target'),
                type = _this.attr('data-type'),
                key = _this.attr('data-key'),
                url = '/Community/' + target;

            var datas = { type: type, key: key };

            $.get(url, datas, function (data) {
                $('<div class="modal fade ' + target + '">' + data + '</div>').modal({ backdrop: 'static', keyboard: false });
            });
        });

        $(document).on('hidden.bs.modal', function (e) {
            $(e.target).remove();
        });

        $("a.cmdBtn").on("click", function () {
            var _this = $(this),
                parent = _this.parents("li"),
                corp = parent.attr("data-corp"),
                key = parent.attr("data-key"),
                cont = _this.siblings("textarea");

            var url = "/Community/JSON_Update";
            var datas = { corp: corp, type: "review", key: key, content: cont.val() };

            if (cont.val() == "") {
                alert("내용을 입력해 주세요.");
                return;
            }

            $.ajax({
                type: "POST",
                url: url,
                data: datas,
                success: function (data) {
                    var cmdHtml = "";

                    cmdHtml = "<li data-key='" + data.post_ID + "'>" + data.post_content + "<span class='pull-right'>" + data.name + " | " + data.ist_date.substring(0, 4) + "-" + data.ist_date.substring(4, 6) + "-" + data.ist_date.substring(6, 8) + "</span></li>";

                    parent.find(".comment").append(cmdHtml);
                    cont.val("");
                }
                , beforeSend: function () {
                    $('#loading').show();
                }
                , complete: function () {
                    $('#loading').hide();
                }
            });
        });
    });
</script>